{% extends 'crudlfap/form.html' %}

{% block content %}
  <p>Pour importer des utilisateurs en masse, fabriquer un fichier CSV laissant la premiere ligne intacte comme suit</p>
  <pre>
nom;prenom;numero agent;profil;numero organisme;mail
DUPONT;Jean;07328;UPN;571;jean.dupont@assurance-maladie.fr
DUPOND;Jean;07329;UPN,Stat;571;jean.dupond@assurance-maladie.fr
  </pre>
  <p>
  Les utilisateurs nouvellement crees qui n'ont pas de mot de passe en receveront un par email. Cela permet de re-envoyer un fichier plusieurs fois moyennant correctifs. En cas d'erreur non signalee sur cette page, regarder sur le canal tech voir si l'import cause une erreur sentry, celle ci peut contenir des indices.
  </p>

  {% if view.first_line_found != view.first_line_expected %}
  <h3>Erreur de header</h3>
  <p>Nous avons trouvé cette première ligne dans le CSV:</p>
  <pre>{{ view.first_line_found }}</pre>
  <p>Voici ce qui est attendu a la place</p>
  <pre>{{ view.first_line_expected }}</pre>
  <p>En conséquence, nous n'avons pas procédé à l'import</p>
  {% endif %}

  {% if view.missing_columns %}
  <h3>Lignes avec nombre inattendu de colonnes</h3>
  <p>Nous n'importons pas les lignes suivantes car le nombre de colonnes ne correspond pas aux headers</p>
  <table>
    <tr>
      <th>Numéro de ligne</th>
      <th>Ligne trouvée</th>
    </tr>
    {% for number, line in view.missing_columns.items() %}
    <tr>
      <td>{{ number }}</td>
      <td>{{ line }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if view.errors %}
  <h3>Erreurs</h3>
  <table>
    <tr>
      <th>Ligne</th>
      <th>Message</th>
      {% for key in view.keys %}
      <th>{{ key }}</th>
      {% endfor %}
    </tr>
    {% for linenumber, error in view.errors.items() %}
    <tr>
      <td>{{ linenumber + 1 }}</td>
      <td>{{ error.message }}</td>
      {% for i in error.row.values() %}
      <td>{{ i }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if view.success %}
  <h3>Succès</h3>
  <table>
    <tr>
      <th>Ligne</th>
      <th>Demande</th>
      {% for key in view.keys %}
      <th>{{ key }}</th>
      {% endfor %}
    </tr>
    {% for linenumber, success in view.success.items() %}
    <tr>
      <td>{{ linenumber }}</td>
      <td>
        <a href="{{ success.object.get_absolute_url() }}">{{ success.object }}</a>
      </td>
      {% for i in success.row.values() %}
      <td>{{ i }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {{ super() }}
{% endblock %}
