{% extends 'crudlfap/update.html' %}

{% block success %}
    <div class="card-panel green lighten-4">
        L'email serait sur le point de partir.
    </div>
{% endblock %}

{% block content %}
<div class="red darken-1 white-text center">
  <p class="flow-text">
    ATTENTION la validation entraine l'envoi d'un nouveau mot de passe par mail.<br>
    <u>NB</u>: Si vous n'êtes pas administrateur local d'une des caisses de cet utilisateur, le clic sur "Password Reset" sera sans effet.
  </p>
</div>
{% csrf_token %}
{% endblock %}
