*.sqlite3
*.pyc
*.egg-info
.cache
.coverage
coverage.xml
mrs-*.tgz
.tox
src/collected
src/mrs/static/webpack_bundles/
webpack-stats.json
node_modules/
.pytest_cache
htmlcov/
coverage/
.npm-watch.pid
.env
docs/_build
