version: '3.7'

services:
  django:
    image: betagouv/mrs:master
    logging:
      driver: journald
    environment:
    - ALLOWED_HOSTS
    - DB_ENGINE=django.db.backends.postgresql
    - DB_HOST=postgres
    - DB_USER=django
    - DB_PASSWORD=django
    - DB_NAME=mrs
    - SECRET_KEY=notsecret
    - BASICAUTH_DISABLE
    - MAINTENANCE_ENABLE
    - EMAIL_HOST
    - EMAIL_HOST_PASSWORD
    - EMAIL_HOST_USER
    - EMAIL_PORT
    - EMAIL_USE_SSL
    - EMAIL_USE_TLS
    - DEFAULT_FROM_EMAIL
    - HOST
    - LISTEN
    - PROTO
    - TEAM_EMAIL
    - SENTRY_AUTH_TOKEN
    - SENTRY_DSN
    - SENTRY_ORG=sentry
    - SENTRY_PROJECT
    - SENTRY_URL

  postgres:
    image: postgres:10
    logging:
      driver: journald
    environment:
    - POSTGRES_PASSWORD=django
    - POSTGRES_USER=django
    - POSTGRES_DB=mrs
