django>=2.1,<2.2
dj-static
django-webpack-loader
django-threadlocals
django-material>=1.2,<1.3
django-jpic-jfu
raven
django-humanize==0.1.2
django-ipware==2.0.1
crudlfap==0.4.13
sqlparse
holidays
chardet
django-denorm
django-call>=0.0.7,<0.2
