<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MRS - Maintenance</title>
</head>

<style>
    html {
        text-align: center;
        font-family: sans-serif;
    }

</style>
<body>

    <h1 style="margin-top: 50px">
        MRS - Mes Remboursements Simplifiés
    </h1>

    <h2 style="margin: 50px">
        Ce service est en cours de maintenance.
    </h2>

    <h3>
        Veuillez revenir un peu plus tard pour effectuer votre demande de remboursement.
    </h3>

</body>
</html>