{% load static %}
{% if SENTRY_DSN %}
<script src="https://cdn.ravenjs.com/3.19.1/raven.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
Raven.config('{{ SENTRY_DSN }}').install()
</script>
{% endif %}
<script src="{% static 'material/js/jquery.js' %}"></script>
<script src="{% static 'material/js/jquery.datetimepicker.full.js' %}"></script>
<script src="{% static 'material/js/jquery.formset.js' %}"></script>
<script src="{% static 'material/js/materialize.js' %}"></script>
<script src="{% static "js/vendor/jquery.ui.widget.js" %}"></script>
<script src="{% static "demo/tmpl.min.js" %}"></script>
<script src="{% static "demo/load-image.min.js" %}"></script>
<script src="{% static "demo/canvas-to-blob.min.js" %}"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="{% static "js/jquery.iframe-transport.js" %}"></script>
<script src="{% static "js/jquery.fileupload.js" %}"></script>
<script src="{% static "js/jquery.fileupload-process.js" %}"></script>
<script src="{% static "js/jquery.fileupload-image.js" %}"></script>
<script src="{% static "js/jquery.fileupload-validate.js" %}"></script>
<!--[if gte IE 8]>
<script src="{% static "js/cors/jquery.xdr-transport.js" %}"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
