{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Mes Remboursements Simplifiés{% endblock %} | MRS {{ title_suffix }}</title>
    {% block extra_head %}
    {% render_bundle 'base' 'css' %}
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Faustina" rel="stylesheet" />
    <link rel="manifest" href="{% static '/manifest.json' %}" />
    <meta property="og:title" content="Mes Remboursements Simplifiés" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'img/logos/mrs.png' %}" />
    <meta property="og:description" content="{% block description %}En 3 clics, mon transport personnel remboursé en moins d'une semaine. Sur prescription de votre médecin, l'Assurance Maladie rembourse les frais d'utilisation de votre véhicule personnel ou des transports en commun.{% endblock %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120-precomposed.png' %}">
    <link rel="icon" sizes="48x48" href="/static/img/logos/launcher-icon-1x.png">
    <link rel="icon" sizes="96x96" href="/static/img/logos/launcher-icon-2x.png">
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    {% endblock %}
    <style type="text/css">
    /* doesn't seem to work when through SASS */
    progress::-webkit-progress-value {
        background: #0dc5b9;
    }
    progress::-moz-progress-bar {
        background: #0dc5b9;
    }
    </style>
    {% include '_piwik_new.html' %}
  </head>
  <body class="{% block body_class %} {% endblock %}">
    {% block before_content %}
    {% endblock %}

    <div id="app--wrapper">
        {% block content %}
        {% endblock %}
    </div>

    {% if SENTRY_DSN %}
    <script src="https://browser.sentry-cdn.com/5.5.0/bundle.min.js" crossorigin="anonymous"></script>
    {{ SENTRY_CONFIG|json_script:'sentry-config' }}
    <script type="text/javascript">
    Sentry.init({dsn: '{{ SENTRY_DSN }}', environment: '{{ INSTANCE }}', release: '{{ RELEASE }}'})
    </script>
    {% endif %}

    {% block extra_body %}
    {% render_bundle 'base' 'js' %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- PROJECT_INSTANCE={{ PREFIX }}-{{ INSTANCE }} -->
  </body>
</html>
