{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mes Remboursements Simplifiés</title>
    {% include '_piwik.html' %}
    {% block extra_head %}
    {% include 'mrsrequest/_form_css.html' %}
    {% render_bundle 'base' 'css' %}
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Faustina" rel="stylesheet" />
    <meta property="og:title" content="Mes Remboursements Simplifiés" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'img/logos/mrs.png' %}" />
    <meta property="og:description" content="En 3 clics, mon transport personnel remboursé en moins d'une semaine. Sur prescription de votre médecin, l'Assurance Maladie rembourse les frais d'utilisation de votre véhicule personnel ou des transports en commun. " />
    {% endblock %}
  </head>
  <body class="{% block body_class %} {% endblock %}">
    {% block before_content %}
    {% endblock %}

    <div id="app--wrapper">

        <div id="header"></div>

        {% block content %}
        {% endblock %}

        <div id="footer">
            <div class="links">
                <a href="/mentions-legales">mentions legales</a>
                <a href="/stats">statistiques</a>
            </div>
            <p>
                © 2018 - CNAM - CPAM DE LA HAUTE-GARONNE
            </p>
        </div>
    </div>

    {% if settings.SENTRY_DSN %}
    <script src="https://cdn.ravenjs.com/3.19.1/raven.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
    Raven.config('{{ settings.SENTRY_DSN }}', {environment: '{{ sentry.INSTANCE }}'}).install()
    </script>
    {% endif %}

    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% block extra_body %}
    {% include 'mrsrequest/_form_js.html' %}
    {% render_bundle 'base' 'js' %}
    {% endblock %}
  </body>
</html>
