{% extends 'base_new.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Une question sur Mes Remboursements Simplifiés{% endblock %}
{% block description %}Découvrez les réponses à vos questions sur les modalités d’utilisation du service Mes
    Remboursements Simplifiés (MRS) ainsi que les différentes situations de prise en charge.{% endblock %}

{% block header %}
    {% if request.GET.embed == "1" %}{% else %}{{ block.super }}{% endif %}
{% endblock %}
{% block footer %}
    {% if request.GET.embed == "1" %}{% else %}{{ block.super }}{% endif %}
{% endblock %}


{% block content %}
    <style>
        #accordion-aide .card-header {
            background-image: url("{% static 'img/icones/icon_add.svg' %}");
        }

        #accordion-aide .card-header[aria-expanded="true"] {
            background-image: url("{% static 'img/icones/icon_remove.svg' %}");
        }
    </style>

    <div class="container-fluid">

        <div class="row">
            <div class="col text-center mb-5">
                <h1>Aide</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div id="recherche" class="col-12 col-lg-10 col-xl-8">
                <input id="recherche-input" type="text" placeholder="RECHERCHER PAR MOT-CLÉ"
                       style="background-image: url('{% static "img/icones/icon_search.svg" %}')">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="accordion" id="accordion-aide">
                    <div class="card">
                        <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1"
                             aria-expanded="{% if request.GET.collapse1 %}true{% else %}false{% endif %}" aria-controls="collapse1" role="button">
                            Quels sont les transports pris en charge sur le site ?
                        </div>
                        <div id="collapse1" class="collapse {% if request.GET.collapse1 %}show{% endif %}" aria-labelledby="heading1" data-parent="#accordion-aide">
                            <div class="card-body">
                                <p>
                                    Lorsque vous pouvez vous déplacer sans assistance particulière, seul ou accompagné
                                    par
                                    une personne de votre entourage, le médecin prescrit un moyen de transport
                                    individuel
                                    (véhicule personnel) ou un transport en commun (ex : bus, métro, train, etc.).
                                    Vous pouvez demander la prise en charge de ces transports sur le site.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2"
                             aria-expanded="{% if request.GET.collapse2 %}true{% else %}false{% endif %}" aria-controls="collapse2" role="button">
                            Quels sont les justificatifs à fournir pour être remboursé ?
                        </div>
                        <div id="collapse2" class="collapse {% if request.GET.collapse2 %}show{% endif %}" aria-labelledby="heading2" data-parent="#accordion-aide">
                            <div class="card-body">
                                <p>
                                    Pour que votre transport soit pris en charge par l’Assurance Maladie, vous devez
                                    fournir
                                    les documents suivants :
                                </p>
                                <ul>
                                    <li>
                                        La prescription médicale de transport (volet 2) ou le numéro de la prescription
                                        médicale électronique de transport ou la convocation du service médical de
                                        l'Assurance
                                        Maladie,
                                    </li>
                                    <li>
                                        Les justificatifs de paiement (ex : facture, ticket de péage, ticket de
                                        transport en
                                        commun, récapitulatif détaillé du télépéage…).
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3"
                             aria-expanded="{% if request.GET.collapse3 %}true{% else %}false{% endif %}" aria-controls="collapse3" role="button">
                            Est-ce que je dois conserver mes pièces justificatives ?
                        </div>
                        <div id="collapse3" class="collapse {% if request.GET.collapse3 %}show{% endif %}" aria-labelledby="heading3" data-parent="#accordion-aide">
                            <div class="card-body">
                                <p>
                                    Oui, vous devez conserver vos pièces justificatives (prescription médicale de
                                    transports, tickets de transports en commun, de péage,.....) pendant 33 mois. En cas
                                    de contrôle par l'Assurance Maladie, vous avez l'obligation de transmettre les
                                    originaux de ces documents sous peine de devoir rembourser les montants perçus.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4"
                             aria-expanded="{% if request.GET.collapse4 %}true{% else %}false{% endif %}" aria-controls="collapse4" role="button">
                            Si ma demande est refusée, que dois-je faire ?
                        </div>
                        <div id="collapse4" class="collapse {% if request.GET.collapse4 %}show{% endif %}" aria-labelledby="heading4" data-parent="#accordion-aide">
                            <div class="card-body">
                                <p>
                                    Si votre demande est refusée, vous recevrez un email vous informant des raisons du
                                    refus.
                                </p>
                                <p>
                                    Une fois votre demande de remboursement conforme, vous pourrez soumettre une
                                    nouvelle demande.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5"
                             aria-expanded="{% if request.GET.collapse5 %}true{% else %}false{% endif %}" aria-controls="collapse5" role="button">
                            Combien de temps après mon transport, puis je demander mon remboursement ?
                        </div>
                        <div id="collapse5" class="collapse {% if request.GET.collapse5 %}show{% endif %}" aria-labelledby="heading5" data-parent="#accordion-aide">
                            <div class="card-body">
                                <p>
                                    Vous avez un délai de deux ans pour présenter vos demandes de remboursement (article
                                    L332-1 du code de la Sécurité sociale). Au-delà, votre organisme d'Assurance Maladie
                                    a obligation de rejeter votre demande.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading6" data-toggle="collapse" data-target="#collapse6"
                             aria-expanded="{% if request.GET.collapse6 %}true{% else %}false{% endif %}" aria-controls="collapse6" role="button">
                            Je me suis trompé dans ma déclaration, comment la modifier ?
                        </div>
                        <div id="collapse6" class="collapse {% if request.GET.collapse6 %}show{% endif %}" aria-labelledby="heading6" data-parent="#accordion-aide">
                            <div class="card-body">
                                <p>
                                    Vous avez la possibilité d'annuler votre demande si celle-ci n'est pas encore
                                    traitée par nos services. Vous trouverez dans l'email d'accusé de réception, un
                                    lien pour annuler votre demande.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div id="aucun-resultat" class="col-12 col-lg-10 col-xl-8">
                Il n’y a pas de réponse pour votre recherche.
                Changez de mot clé ou retournez à la liste des questions / réponses

                <div>
                    <button class="btn mrs-bouton mrs-bleu-vide" onclick="$('#recherche-input').val('').change()">
                        Retour
                    </button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center my-5">
            <div id="recherche" class="col-12 col-lg-10 col-xl-8">
                <a class="btn mrs-bouton mrs-bleu-plein"
                   target="_blank"
                   href="https://www.ameli.fr/assure/remboursements/rembourse/frais-transport/frais-transport#text_73837"
                >
                    Retrouvez plus d’informations sur ameli.fr
                </a>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% render_bundle 'mrsfaq' 'js' %}
{% endblock %}