{% extends 'base_new.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Découvrez MRS{% endblock %}
{% block description %}Mes Remboursements Simplifiés (MRS) est un service innovant de l'Assurance Maladie pour accélérer
    et faciliter le remboursement des frais d’utilisation du véhicule particulier ou du transport en commun suite à une
    prescription médicale. MRS permet de déclarer directement en ligne et d’être remboursé en une semaine.{% endblock %}

{% block body_class %}index{% endblock %}

{% block before_content %}
{% endblock %}

{% block content %}
    <div id="hero" style="background-image: url('{% static "/img/illu_accueil.svg" %}')"></div>

    <h1 id="baseline">
        En 3 clics, mon transport personnel remboursé en moins d’une semaine.
    </h1>

    <div id="cta">
        <a class="btn mrs-bouton mrs-rose-plein" href="{% url "demande" %}">Demander un remboursement</a>
    </div>

    <div id="cmm" class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>
                    Comment ça marche ?
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                            width="100%"
                            height="100%"
                            src="https://www.youtube.com/embed/KgMkHtFO-xs?rel=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                    ></iframe>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="row">
                    <div class="col-3" style="background-image:url('{% static "img/icones/line.svg" %}')">
                        <div style="background-image:url('{% static "img/icones/icon_prescr.svg" %}')"></div>
                    </div>
                    <div class="col-9">
                        <h3>Recevez votre prescription médicale</h3>
                        <p>
                            Votre médecin vous prescrit un transport médical en fonction de votre situation.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" style="background-image:url('{% static "img/icones/line.svg" %}')">
                        <div style="background-image:url('{% static "img/icones/icon_transport.svg" %}')"></div>
                    </div>
                    <div class="col-9">
                        <h3>Réalisez le transport</h3>
                        <p>
                            Vous vous rendez à vos soins en voiture ou en transport en commun, seul(e) ou accompagné(e)
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" style="background-image:url('{% static "img/icones/line.svg" %}')">
                        <div style="background-image:url('{% static "img/icones/icon_demande.svg" %}')"></div>
                    </div>
                    <div class="col-9">
                        <h3>Demandez le remboursement</h3>
                        <p>
                            Remplissez votre demande en joignant vos documents (prescription médicale de transport et
                            justificatifs de déplacement).
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div style="background-image:url('{% static "img/icones/icon_euro.svg" %}')"></div>
                    </div>
                    <div class="col-9">
                        <h3>Obtenez le remboursement</h3>
                        <p>
                            Sous réserve de validité, vous êtes remboursé en moins d’une semaine !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="service" class="container-fluid">
        <div id="service-header" class="row">
            <div class="col-12 col-xl-4">
                <h2>
                    Le service en 3 chiffres
                </h2>
            </div>
        </div>

        <div id="service-chiffres" class="row">
            <div class="col-12 col-md-4">
                <div id="countup-users" class="countup">{{ view.users_count }}</div>
                <h3>Nombre d'utilisateurs</h3>
            </div>
            <div class="col-12 col-md-4">
                <div id="countup-requests" class="countup">{{ view.mrsrequests_count }}</div>
                <h3>Nombre de demandes</h3>
            </div>
            <div class="col-12 col-md-4">
                <div id="countup-delay" class="countup">{{ view.average_payment_delay }}</div>
                <h3>Délai de remboursement</h3>
            </div>
        </div>
    </div>

    <div id="temoignages" class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>
                    Ils ont utilisé notre service
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-2 temoignages-images">
                <img src="{% static "img/bus2.svg" %}">
            </div>
            <div class="col-12 col-md-8 temoignage">
                <div class="row">
                    <div class="col-1">
                        <img src="{% static "img/guillemetouvrant.svg" %}">
                    </div>
                    <div class="col-10" id="temoignage">
                        J’ai bien reçu le remboursement pour mes frais de transport en voiture particulière,
                        paiement très rapide et simplifié grâce à l’envoi par internet ! Merci !
                        <br>
                        <b>Amelie F.</b>
                    </div>
                    <div class="col-1">
                        <img src="{% static "img/guillemetfermant.svg" %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-center mt-3">
                            <div class="btn mrs-bouton mrs-blanc-plein" id="temoignage-suivant">Autre témoignage</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 temoignages-images">
                <img src="{% static "img/voiture2.svg" %}">
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% render_bundle 'mrsindex' 'js' %}
{% endblock %}
