{% extends 'base.html' %}
{% load static %}

{% block body_class %}index{% endblock %}

{% block before_content %}
{% endblock %}

{% block content %}
    <div id="index--wrapper">

        <div class="mrs-logo--wrapper">
            <img src={% static "img/logos/mrs.png" %} alt="MRS" class="mrs-logo" />
            <div id="intro--wrapper">
                <p class="scroll-reveal">
                    En 3 clics, mon transport personnel remboursé en moins d'une semaine.
                </p>
                <a class="start-button scroll-reveal" data-callback="scroll-to" data-target="#s4" href="/demande">
                    COMMENCER
                </a>
            </div>
        </div>


        <div
            style="background-image: url('{% static "img/landing-intro-bg.png" %}')"
            id="intro-bg-img">
        </div>

        <div id="intro-descr--wrapper" class="thumb--wrapper">
            <div class="thumb">
                <h3>Une semaine pour etre remboursé !</h3>
                <p>
                    Sur prescription de votre médecin, l'Assurance Maladie rembourse les frais d'utilisation de votre véhicule personnel ou des transports en commun.
                </p>
            </div>
        </div>

        <div id="hier-ajd--wrapper">
            <div class="hier--wrapper">
                <h3><span>Hier :</span></h3>
                <ul>
                    <li><span>vous complétiez <strong>le formulaire papier Cerfa <a href="https://www.ameli.fr/sites/default/files/formualires/176/s3140.pdf" target="_blank">s3140</a></strong>,</span></li>
                    <li><span>ajoutiez les justificatifs</span></li>
                    <li><span>et les envoyiez par voie postale.</span></li>
                </ul>
            </div>
            <div class="ajd--wrapper">
                <h3><span>Aujourd'hui :</span></h3>
                <ul>
                    <li><span>vous déclarez vos frais directement en ligne,</span></li>
                    <li><span>vous êtes remboursé en une semaine.</span></li>
                </ul>
            </div>
        </div>

        <div id="etapes-descr--wrapper" class="thumb--wrapper">
            <div class="thumb">
                <p>
                    <strong>3 étapes</strong> pour accélérer le remboursement du transport prescrit
                </p>
            </div>
        </div>

        <section id="s3">
            <a name="3"></a>
            <div class="section-content--wrapper">
                <h2 class="scroll-reveal">
                </h2>
                <div class="processes--wrapper">
                    <div class="process--wrapper scroll-reveal">
                        <img src="{% static 'img/04.png' %}" alt="icon" />
                        <div class="description--wrapper">
                            <h2>1/ Je déclare mon trajet</h2>
                            <p>
                                Je saisis les informations nécessaires : nombre de kilomètres, frais de péage, frais de stationnement...
                            </p>
                        </div>
                    </div>

                    <div class="process--wrapper scroll-reveal">
                        <img src="{% static 'img/135.png' %}" alt="icon" />
                        <div class="description--wrapper">
                            <h2>2/ Je transmets mes justificatifs</h2>
                            <p>
                                Je photographie ou scanne ma prescription médicale de transport et mes justificatifs et les joins à ma demande (tickets de parking, de bus, de péage...).
                            </p>
                        </div>
                    </div>

                    <div class="process--wrapper scroll-reveal">
                        <img src="{% static 'img/26.png' %}" alt="icon" />
                        <div class="description--wrapper">
                            <h2>3/ Je valide ma demande</h2>
                            <p>
                                Je vérifie les informations et j'envoie ma demande de remboursement directement en ligne. Je reçois une confirmation de traitement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="caroussel">
            <h2>Ils ont deja utilise notre service</h2>
            <img src="{% static '/img/icones/open-quotes.png' %}" alt="icone" />
        </div>

        <div id="index-footer--wrapper">
            <a href="https://beta.gouv.fr/" target="_blank">
                <img class="logo" src="{% static 'img/logos/beta-gouv-marianne.png' %}" alt="Logo beta.gouv.fr" />
            </a>
            <a href="https://www.ameli.fr" target="_blank">
                <img class="logo" src="{% static 'img/logos/ameli.png' %}" alt="Logo ameli.fr" />
            </a>
        </div>
    </div>
{% endblock %}
