{% extends 'base.html' %}

{% block title %}Statistiques{% endblock %}
{% block description %}Découvrez les statistiques d’utilisation du service Mes Remboursements Simplifiés (MRS).{% endblock %}

{% block body_class %}statistics{% endblock %}
{% block content %}
  <div id="header"></div>
  <div class="mrs-std-page--wrapper">
    <div class="mrs-std-page container">
      <div class="container">
        <div class="row" style="text-align: center">
          <form method="GET" data-autosubmit="true" style="display: none">
            {{ view.form }}
          </form>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card-panel">
                <span class="card-title">Nombre de demandes trait&eacute;es</span>
                <pre>{{ view.mrsrequests_processed }}</pre>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="card-panel">
                <span class="card-title">Dur&eacute;e moyenne</span>
                <pre>{{ view.average_payment_delay }}</pre>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col s12 m6">
            <div class="card-panel">
                <span class="card-title">Nombre de bascules</span>
                <pre>{{ view.insured_shifts }}</pre>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="card-panel">
                <span class="card-title">Economie g&eacute;n&eacute;r&eacute;e</span>
                <pre>{{ view.savings }}€</pre>
            </div>
          </div>
        </div>

        <p>
          Données provenant de MRS, mise à jour : {{ view.now }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
