{% extends 'base.html' %}

{% block title %}Statistiques{% endblock %}
{% block description %}Découvrez les statistiques d’utilisation du service Mes Remboursements Simplifiés (MRS).{% endblock %}

{% block body_class %}statistics{% endblock %}
{% block content %}
  <style type="text/css">
    .card-panel {
      min-height: 164px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    .card-panel pre {
      font-size: 2em;
      margin: 0;
    }
  </style>
  <div id="header"></div>
  <div class="mrs-std-page--wrapper">
    <div class="mrs-std-page">
      <div class="container">
        <div class="row">
          <form method="GET" data-autosubmit="true" style="display: none">
            {{ view.form }}
          </form>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card-panel">
              <span class="card-title">Nombre d'assur&eacute;s</span>
              <pre>{{ view.insured_count }}</pre>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="card-panel">
              <span class="card-title">Nombre d'assur&eacute;s ayant basculé vers le véhicule personnel<sup>*</sup></span>
              <pre>{{ view.shifted_insured_count }}</pre>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card-panel">
              <span class="card-title">Nombre de demandes trait&eacute;es (Validées/Rejetées)</span>
              <pre>{{ view.mrsrequests_processed }}</pre>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="card-panel">
              <span class="card-title">Nombre de demandes d'assurés ayant basculés</span>
              <pre>{{ view.insured_shifts }}</pre>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col s12 m6">
            <div class="card-panel">
              <span class="card-title">Délai moyen de traitement en jour(s)</span>
              <pre>{{ view.average_payment_delay }}</pre>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="card-panel">
              <span class="card-title">Economies réalisées<sup>**</sup></span>
              <pre>{{ view.savings }}€</pre>
            </div>
          </div>
        </div>

        <p style="text-align: left">
          <sup>*</sup>Assuré utilisateur de Transport Assis Professionnalisé (TAP) ayant basculé vers le Véhicule Particulier (VP) depuis la mise en oeuvre de MRS
        </p>
        <p style="text-align: left">
          <sup>**</sup> Différence entre le coût théorique d'un TAP et le montant pris en charge au titre du VP pour les assurés ayant basculés.
        </p>

        <p>
          Données provenant de MRS, mise à jour : {{ view.now }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
