{% extends 'base.html' %}

{% block title %}Statistiques{% endblock %}
{% block description %}Découvrez les statistiques d’utilisation du service Mes Remboursements Simplifiés (MRS).{% endblock %}

{% block body_class %}statistics{% endblock %}
{% block content %}
  <style type="text/css">
    .card-panel {
      min-height: 164px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    .card-panel pre {
      font-size: 2em;
      margin: 0;
    }
  </style>
  <div id="header"></div>
  <div class="mrs-std-page--wrapper">
    <div class="mrs-std-page">
      <div class="container">
        <div class="row">
          <form method="GET" data-autosubmit="true" style="display: none">
            {{ view.form }}
          </form>
        </div>

        <table id="stats-table">
            <thead>
            <tr>
                <th>Catégorie</th>
                <th>Quantité</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Nombre d'assur&eacute;s</td>
                <td>{{ view.insured_count }}</td>
            </tr>
            <tr>
                <td>Nombre d'assur&eacute;s ayant basculé vers le véhicule personnel<sup>*</sup></td>
                <td>{{ view.shifted_insured_count }}</td>
            </tr>
            <tr>
                <td>Nombre de demandes trait&eacute;es (Validées/Rejetées)</td>
                <td>{{ view.mrsrequests_processed }}</td>
            </tr>
            <tr>
                <td>Nombre de demandes d'assurés ayant basculés</td>
                <td>{{ view.insured_shifts }}</td>
            </tr>
            <tr>
                <td>Délai moyen de traitement en jour(s)</td>
                <td>{{ view.average_payment_delay }}</td>
            </tr>
            <tr>
                <td>Economies réalisées<sup>**</sup></td>
                <td>{{ view.savings|floatformat:2 }}€</td>
            </tr>
            </tbody>
        </table>



        <p style="text-align: left">
          <sup>*</sup>Assuré utilisateur de Transport Assis Professionnalisé (TAP) ayant basculé vers le Véhicule Particulier (VP) depuis la mise en oeuvre de MRS
        </p>
        <p style="text-align: left">
          <sup>**</sup> Différence entre le coût théorique d'un TAP et le montant pris en charge au titre du VP pour les assurés ayant basculés.
        </p>

        <p>
          Données provenant de MRS, mise à jour : {{ view.now }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
