{% load material_form %}
{% load static %}
<script type="text/json" id="caissesJson">
{{ view.caisses_json|safe }}
</script>
<script type="text/json" id="regimesspeciauxId">
{{ view.regimes_speciaux_id|safe }}
</script>

<div class="form--wrapper scroll-reveal">
    <form method="POST" id="mrsrequest-wizard" class="mrsrequest-wizard" style="display: none">
        {% csrf_token %}
        {% if view.success %}
            {% if INSTANCE == 'production' %}
                <script type="text/javascript">
                _paq.push(['trackEvent', 'request_created']);
                </script>
            {% endif %}
            <h2 class="scroll-reveal" id="validation-detail-h">Nous avons bien reçu votre demande de remboursement !</h2>

            <div id="validation-detail">
                <div class="text-center">
                    <img id="validation-detail-check" class="img-fluid" src="{% static "img/icones/check-solid.svg" %}">
                </div>

                <p>
                    Nous avons bien reçu votre demande de remboursement de vos frais de transport en véhicule personnel ou transport en commun concernant le(s) trajet(s) suivant(s) :
                <p>
                <ul>
                    {% for transport in view.object.transport_set.all %}
                        <li>- du {{ transport.date_depart }}{% if transport.date_return %} au {{ transport.date_return }}{% endif %}</li>
                    {% endfor %}
                </ul>

                <p>
                    Vous avez la possibilité d'annuler votre demande tant qu'elle n'est pas traitée par nos services en cliquant sur le bouton ci-dessous:
                    <br>
                    <a
                        href="{{ base_url }}{{ view.object.get_cancel_url }}"
                        class="btn mrs-bouton mrs-orange-plein mt-3 mb-5"
                        data-btn-exclude="1"
                    >
                        Annuler cette demande
                    </a>
                </p>

                <p>
                    Vous allez recevoir un email confirmant la réception et le traitement de votre demande.
                </p>
                <p>
                    Vous recevrez un deuxième email indiquant :
                </p>
                <ul>
                    <li>
                        - soit la validation de votre demande et le remboursement de vos frais de transport
                    </li>
                    <li>
                        - ou bien le rejet de votre demande de remboursement avec l’explication du motif.
                    </li>
                </ul>
            </div>
        {% endif %}

        {% if view.rating_form %}
            {% if view.success_rating %}
                <h2 class="scroll-reveal">Nous vous remercions d'avoir partagé votre retour d'expérience !</h2>
            {% else %}
                <h2 class="scroll-reveal">Merci d'évaluer votre expérience</h2>
                {% form form=view.rating_form %}
                {% endform %}
                <div>
                    <button type="submit" name="_submit" class="btn mrs-bouton mrs-bleu-plein mb-5">Soumettre</button>
                </div>
            {% endif %}
        {% elif view.success %}
            <div class="d-flex justify-content-center mb-5">
                <a
                    href="{% url "index" %}"
                    class="btn mrs-bouton mrs-bleu-vide mr-5"
                    data-btn-exclude="1"
                >Retour à l'accueil</a>

                <a
                    class="btn mrs-bouton mrs-bleu-plein"
                    data-load-in-form="{{ path_info }}?caisse={{ request.POST.caisse }}"
                >Nouvelle demande</a>
            </div>
            {% if request.user.is_staff %}
                <div class="d-flex justify-content-center mt-4">
                    <a
                        class="btn mrs-bouton mrs-bleu-plein mb-5"
                        data-load-in-form="{{ path_info }}?first_name={{ request.POST.first_name }}&last_name={{ request.POST.last_name }}&nir={{ request.POST.nir }}&email={{ request.POST.email }}&birth_date={{ request.POST.birth_date }}&caisse={{ request.POST.caisse }}"

                    >Nouvelle demande: même assuré</a>
                </div>
            {% endif %}

        {% elif view.success_caisse %}
            <div id="submitui-message">
                Merci pour votre intérêt ! Nous reviendrons vers vous dès que votre caisse entrera dans le dispositif MRS
            </div>

        {% else %}
            {% comment %}
            in my tests, moving this elsewhere causes view.forms.mrsrequest.errors.pmt to
            always be empty, bug needs isolation and upstream report prolly
            {% endcomment %}
            <style type="text/css">
            #id_iterative_number_container {
                display: none;
            }
            {% if request.GET.hidePMT %}
            {# hack for institution iframe #}
            #pmt-form {
                display: {% if view.forms.mrsrequest.errors.pmt %}block{% else %}none{% endif %};
            }
            {% endif %}
            </style>

            {% if view.confirm %}
                <h2 class="has-error" id="rejet-potentiel-h">Attention: motif de rejet potentiel</h2>
                <div class="with-ul" id="rejet-potentiel">
                  <p>
                    Attention <b>certaines dates de trajet ont déjà été déclarées</b>.
                    <br/>
                    Cela peut pénaliser votre remboursement.
                    <br/>
                    Nous vous invitons à vérifier chaque date soulignée et à :

                    <div class="d-flex justify-content-center">
                        <ul>
                          <li> corriger votre saisie s'il s'agit d'une erreur de date puis cliquer sur le bouton CONTINUER. </li>
                          <li> annuler votre saisie si la demande a déjà été faite précédemment en cliquant sur le bouton ANNULER</li>
                          <li> confirmer votre saisie s'il s'agit d'une nouvelle demande en cliquant sur CONTINUER. </li>
                        </ul>
                    </div>
                  </p>
                </div>
            {% else %}
                <h2 class="mb-5">Demander un remboursement</h2>

                <div id="commencer">
                    <div>
                        <button class="btn mrs-bouton mrs-bleu-plein" type="button" id="btnCommencer"
                            style="background-image:url('{% static "img/icones/clip.svg" %}')">
                            Avant de commencer
                        </button>
                    </div>

                    <div class="collapse" id="collapseCommencer">
                        <div id="txtCommencer" style="background-image:url('{% static "img/icones/clip.svg" %}')">
                            <h4>Pour remplir la demande, vous aurez besoin de :</h4>
                            <ul>
                                <li>- votre carte vitale</li>
                                <li>- votre prescription médicale de transport papier ou électronique</li>
                                <li>- vos justificatifs de frais de déplacement (ticket de parking, de péage, ...)</li>
                            </ul>
                            <h4 class="mt-4">Les étapes de votre demande :</h4>
                            <div class="container">
                                <div class="row" id="etapesCommencer">
                                    <div class="col-md-6 col-xl-2 offset-xl-1">
                                        <div class="etapeNumero">1</div>
                                        <div>Votre caisse d'assurance maladie</div>
                                    </div>
                                    <div class="col-md-6 col-xl-2">
                                        <div class="etapeNumero">2</div>
                                        <div>Prescription médicale pour un transport</div>
                                    </div>
                                    <div class="col-md-6 col-xl-2">
                                        <div class="etapeNumero">3</div>
                                        <div>Identité de la personne transportée</div>
                                    </div>
                                    <div class="col-md-6 col-xl-2">
                                        <div class="etapeNumero">4</div>
                                        <div>Transport effectué</div>
                                    </div>
                                    <div class="col-12 col-xl-2">
                                        <div class="etapeNumero">5</div>
                                        <div>Validation et réception d'un email récapitulatif</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <a href="#cam" class="btn mrs-bouton mrs-rose-plein" data-btn-exclude="1">
                                Commencer
                            </a>
                        </div>
                    </div>
                </div>

                <h3 id="cam" class="demande-section-header">
                    <span class="numero">1</span> Caisse d'assurance maladie
                </h3>

                <div class="demande-section">
                    {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.start %}
                    {% endform %}
                    <div id="caisse-selector" style="display:none;">
                    {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.above %}
                        {% part form.caisse options %}
                        <option value>---------</option>
                        {% for caisse in form.caisse.field.queryset %}
                        <option value='{{ caisse.pk }}' data-regions='{% for r in caisse.regions.all %}{{ r.pk }} {% endfor %}'>{{ caisse }}</option>
                        {% endfor %}
                        <option value='other'>Autre</option>
                        {% endpart %}
                    {% endform %}
                    <div class="help-button btn" onclick="$('#caisse-selector .help-block').toggle('slide');">?</div>

                    </div>
                </div>
            {% endif %}



            <div id="mrsrequest-form" style="display: none">
                {% if view.confirm %}
                    <div class="demande-section">
                        {% for name, value in request.POST.items %}
                            {% if 'transport-' not in name and 'csrfmiddlewaretoken' not in name %}
                            <input type="hidden" name="{{ name }}" value="{{ value }}" />
                            {% endif %}
                        {% endfor %}
                        <input type="hidden" name="confirm" value="1" />

                        {{ view.forms.transport_formset.management_form }}
                        {% for subform in view.forms.transport_formset %}
                            {% form form=subform layout=subform.layout %}
                            {% endform %}
                        {% endfor %}

                        {% form form=view.forms.certify %}
                        {% endform %}
                    </div>
                {% else %}
                    <h3 class="demande-section-header"><span class="numero">2</span> Prescription médicale pour un transport</h3>

                    <div class="demande-section">
                        <div id="pmt-form">
                        {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.top %}
                        {% endform %}
                        </div>
                    </div>

                    <h3 class="demande-section-header"><span class="numero">3</span> Identité</h3>

                    <div class="demande-section">
                        {% form form=view.forms.person layout=view.forms.person.layout %}
                        {% endform %}
                    </div>

                    <h3 class="demande-section-header"><span class="numero">4</span> Transport effectué</h3>

                    <div class="demande-section">
                        {% form form=view.forms.transport layout=view.forms.transport.layout %}
                        {% endform %}


                        {{ view.forms.transport_formset.management_form }}
                        {% for subform in view.forms.transport_formset %}
                            {% form form=subform layout=subform.layout %}
                            {% endform %}
                        {% endfor %}

                        {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.modevp %}{% endform %}
                        <div id="vp-form" style="display: none">
                          {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.vp_form %}{% endform %}
                        </div>

                        {% comment %}
                        Please forgive the paste of the same 4 lines as above, below
                        this comment. This is what we could do to refactor it in Jinja2:

                        {% for i in ['vp', 'tc'] %}
     '_enable'] %}       endform %}
                        <div class="#{{ i }}-form">
     '_form'] %}{%      ndform %}
                        </div>
                        {% endfor %}
                        {% endcomment %}

                        {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.modeatp %}{% endform %}
                        <div id="atp-form" style="display: none">
                          {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.atp_form %}{% endform %}
                        </div>
                    </div>

                    <h3 class="demande-section-header"><span class="numero">5</span> Attestation sur l'honneur</h3>

                    <div class="demande-section">
                        {% form form=view.forms.certify %}
                        {% endform %}

                        {% form form=view.forms.use_email %}
                        {% endform %}

                        <a href="#" data-toggle="modal" data-target="#modal-conditions" class="text-center">
                          Conditions d'utilisation
                        </a>
                    </div>
                {% endif %}
            </div>

            <div id="caisse-form" class="demande-section" style="display:none">
                {% form form=view.caisse_form %}

                    {% part form.caisse options %}
                    <option value>---------</option>
                    {% for caisse in form.caisse.field.queryset %}
                    <option value='{{ caisse.pk }}' data-regions='{% for r in caisse.regions.all %}{{ r.pk }} {% endfor %}'>{{ caisse }}</option>
                    {% endfor %}
                    {% endpart %}

                {% endform %}
            </div>

            <br />

            {% if view.confirm %}
                <div id="rejet-potentiel-btns">
                    <a
                        class="left btn mrs-bouton mrs-bleu-plein mb-5"
                        data-load-in-form="{{ path_info }}?first_name={{ request.POST.first_name }}&last_name={{ request.POST.last_name }}&nir={{ request.POST.nir }}&email={{ request.POST.email }}&birth_date={{ request.POST.birth_date }}&caisse={{ request.POST.caisse }}"
                    >Annuler</a>
                    </a>
                    <button
                        type="submit"
                        class="btn right mrs-bouton mrs-bleu-plein mb-5"
                        value="Continuer"
                    >Continuer</button>
                </div>
            {% else %}
                <button type="submit" name="_submit" class="btn mrs-bouton mrs-rose-plein mb-5" data-btn-exclude="1">Valider ma demande</button>
            {% endif %}
        {% endif %}
    </form>
</div>

<div class="modal2" tabindex="-1" role="dialog" id="modal-conditions">
    <div class="modal2-dialog modal2-dialog-scrollable modal2-lg" role="document">
        <div class="modal2-content">
            <div class="modal2-header">
                <h5 class="modal2-title">Conditions d'utilisation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal2-body">
                <p>
                    La loi rend passible d'amende et/ ou d'emprisonnement quiconque sera rend coupable de fraude ou de
                    fausse déclaration en vue d'obtenir ou de tenter d'obtenir des avantages indus (articles 313-1 à
                    313-3, 433-19, 441-1 et suivants du Code pénal).
                </p>
                <p>
                    En outre, l'inexactitude, le caractère incomplet des déclarations ou l'absence de déclaration d'un
                    changement de situation dans le but d'obtenir le versement de prestations indues, peuvent faire
                    l'objet d'une pénalité financière en application de l'article L.162-1-14 du Code de la sécurité
                    sociale.
                </p>
                <p>
                    Les informations recueillies sont traitées pour gérer votre demande de remboursement de transport
                    sous la responsabilité du Directeur de votre CPAM de rattachement. Elles sont conservées pendant 33
                    mois et sont adressées à votre CPAM de rattachement.
                    Votre email sera utilisé dans le but de vous envoyer occasionnellement des emails de confirmation.
                    Conformément aux dispositions relatives à la protection des données personnelles, vous pouvez
                    exercer les droit d'accès, de rectification et de limitation des données vous concernant en
                    adressant une demande écrite au directeur de votre caisse d’assurance maladie de rattachement en
                    contactant le ou la délégué(e) à la protection des données.
                    Les réclamations au titre de la protection des données personnelles peuvent être introduites auprès
                    de la CNIL (Commission Nationale Informatique et Libertés - TSA 80715 - 75334 PARIS CEDEX 07).
                </p>
            </div>
            <div class="modal2-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal2" tabindex="-1" role="dialog" id="modal-pmt">
    <div class="modal2-dialog modal2-dialog-scrollable modal2-lg" role="document">
        <div class="modal2-content">
            <div class="modal2-header">
                <h5 class="modal2-title">Vous avez une prescription papier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal2-body">
                <p>
                    Scanner et joignez le volet 2 de la prescription médicale
                </p>
                <img class="img-fluid" src="{% static 'img/pmet.jpg' %}" />

                <h2 class="mt-5 mb-5">
                    OU
                </h2>

                <p>
                    Scanner et joignez le volet 3 de la demande d'accord préalable
                </p>
                <img class="img-fluid" src="{% static 'img/pmet.jpg' %}" />
            </div>
            <div class="modal2-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal2" tabindex="-1" role="dialog" id="modal-pmet">
    <div class="modal2-dialog modal2-dialog-scrollable modal2-lg" role="document">
        <div class="modal2-content">
            <div class="modal2-header">
                <h5 class="modal2-title">Où trouver votre numéro de PMET ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal2-body">
                <p>
                    Votre numéro de PMET se trouve dans la partie supérieure du document.
                </p>
                <img class="img-fluid" src="{% static 'img/pmet.jpg' %}" />
            </div>
            <div class="modal2-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<a href="{% url "faq" %}" target="_blank" id="aide"
   style="background-image: url('{% static 'img/icones/icon_question.svg' %}')"></a>
