{% load material_form %}

<script type="text/json" id="caissesJson">
{{ view.caisses_json|safe }}
</script>

<div class="form--wrapper scroll-reveal">
    <form method="POST" id="mrsrequest-wizard" class="mrsrequest-wizard" style="display: none">
        {% csrf_token %}
        {% if view.success %}
            {% if INSTANCE == 'production' %}
            <script type="text/javascript">
            _paq.push(['trackEvent', 'request_created']);
            </script>
            {% endif %}
            <h2 class="scroll-reveal" style="margin-bottom: 2em">Nous avons bien reçu votre demande de remboursement !</h2>
        {% endif %}

        {% if False and view.success and view.is_primo %}
        <p>
            Nous vous remercions de l'utilisation de MRS. Afin d'améliorer la
            qualité de notre service et vous garantir un traitement dans les
            meilleurs délais, nous vous proposons de répondre à quelques
            questions, cela ne vous prendra que 3 minutes maximum. Merci par
            avance !
        </p>
        <p>
            L'équipe MRS
        </p>

        <div style="text-align: center; margin: 2em">
            <a
                href="https://saas2.vocaza.net/cgi-bin/HE/SF?P=73z7z4z-1z-1z53DA1E7B4F"
                class="btn btn-success"
            >JE REMPLIS LE QUESTIONNAIRE</a>
        </div>

        {% elif view.rating_form %}
            {% if view.success_rating %}
                <h2 class="scroll-reveal">Nous vous remercions d'avoir partagé votre retour d'expérience !</h2>
                <div>
                    <a
                        class="right btn"
                        data-load-in-form="{{ path_info }}?caisse={{ request.POST.caisse }}"
                    >Nouvelle demande</a>
                </div>
            {% else %}
                <h2 class="scroll-reveal">Merci d'évaluer votre expérience</h2>
                {% form form=view.rating_form %}
                {% endform %}
                <div>
                    <a
                        class="left teal-text"
                        href="/"
                        title="Retour a l'accueil"
                    >Retour</a>

                    <button type="submit" name="_submit" class="right btn">Soumettre</button>
                </div>
            {% endif %}
        {% elif view.success %}
        <div>
            <a
                class="right btn"
                data-load-in-form="{{ path_info }}?caisse={{ request.POST.caisse }}"
            >Nouvelle demande</a>
            </a>
            {% if request.user.is_staff %}
            <a
                class="left teal-text"
                data-load-in-form="{{ path_info }}?first_name={{ request.POST.first_name }}&last_name={{ request.POST.last_name }}&nir={{ request.POST.nir }}&email={{ request.POST.email }}&birth_date={{ request.POST.birth_date }}&caisse={{ request.POST.caisse }}"

            >Nouvelle demande: même assuré</a>
            </a>
            {% endif %}
        </div>

        {% elif view.success_caisse %}
        <div class="card-panel teal lighten-4" id="submitui-message">
            Merci pour votre intérêt ! Nous reviendrons vers vous dès que votre caisse entrera dans le dispositif MRS
        </div>

        {% else %}
            {% comment %}
            in my tests, moving this elsewhere causes view.forms.mrsrequest.errors.pmt to
            always be empty, bug needs isolation and upstream report prolly
            {% endcomment %}
            <style type="text/css">
            #id_iterative_number_container {
                display: none;
            }
            {% if request.GET.hidePMT %}
            {# hack for institution iframe #}
            #pmt-form {
                display: {% if view.forms.mrsrequest.errors.pmt %}block{% else %}none{% endif %};
            }
            {% endif %}
            </style>

            {% if view.confirm %}
                <h2 class="has-error">Attention: motif de rejet potentiel</h2>
                <div class="with-ul">
                  <p>
                    Attention <b>certaines dates de trajet ont déjà été déclarées</b>.
                    <br/>
                    Cela peut pénaliser votre remboursement.
                    <br/>
                    Nous vous invitons à vérifier chaque date soulignée et à :
                    <ul style="margin-left: 7em">
                      <li> corriger votre saisie s'il s'agit d'une erreur de date puis cliquer sur le bouton CONTINUER. </li>
                      <li> annuler votre saisie si la demande a déjà été faite précédemment en cliquant sur le bouton RETOUR</li>
                      <li> confirmer votre saisie s'il s'agit d'une nouvelle demande en cliquant sur CONTINUER. </li>
                    </ul>
                  </p>
                </div>
            {% else %}
                <h2>Formulaire de remboursement de transports</h2>
                <p id="subtitle" class="scroll-reveal">
                  Réalisez votre demande de remboursement en ligne dès maintenant.
                </p>

                {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.above %}
                {% endform %}
            {% endif %}

            <div id="mrsrequest-form" style="display: none">
                {% if view.confirm %}
                    {% for name, value in request.POST.items %}
                        {% if 'transport-' not in name and 'csrfmiddlewaretoken' not in name %}
                        <input type="hidden" name="{{ name }}" value="{{ value }}" />
                        {% endif %}
                    {% endfor %}
                    <input type="hidden" name="confirm" value="1" />

                    {{ view.forms.transport_formset.management_form }}
                    {% for subform in view.forms.transport_formset %}
                        {% form form=subform layout=subform.layout %}
                        {% endform %}
                    {% endfor %}

                    {% form form=view.forms.certify %}
                    {% endform %}

                {% else %}
                    <div id="pmt-form">
                    {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.top %}
                    {% endform %}
                    </div>
                    {% form form=view.forms.person layout=view.forms.person.layout %}
                    {% endform %}
                    {% form form=view.forms.transport layout=view.forms.transport.layout %}
                    {% endform %}

                    {{ view.forms.transport_formset.management_form }}
                    {% for subform in view.forms.transport_formset %}
                        {% form form=subform layout=subform.layout %}
                        {% endform %}
                    {% endfor %}

                    {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.modevp %}{% endform %}
                    <div id="vp-form" style="display: none">
                      {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.vp_form %}{% endform %}
                    </div>

                    {% comment %}
                    Please forgive the paste of the same 4 lines as above, below
                    this comment. This is what we could do to refactor it in Jinja2:

                    {% for i in ['vp', 'tc'] %}
 '_enable'] %}       endform %}
                    <div class="#{{ i }}-form">
 '_form'] %}{%      ndform %}
                    </div>
                    {% endfor %}
                    {% endcomment %}

                    {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.modeatp %}{% endform %}
                    <div id="atp-form" style="display: none">
                      {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.atp_form %}{% endform %}
                    </div>

                    {% form form=view.forms.certify %}
                    {% endform %}

                    {% form form=view.forms.use_email %}
                    {% endform %}
                {% endif %}
            </div>

            <div id="caisse-form" style="display: none">
                {% form form=view.caisse_form %}{% endform %}
            </div>

            <br />

            {% if view.confirm %}
            <div>
                <a
                    class="left red-text"
                    data-load-in-form="{{ path_info }}?first_name={{ request.POST.first_name }}&last_name={{ request.POST.last_name }}&nir={{ request.POST.nir }}&email={{ request.POST.email }}&birth_date={{ request.POST.birth_date }}&caisse={{ request.POST.caisse }}"
                >Annuler</a>
                </a>
                <button
                    type="submit"
                    class="btn right"
                    value="Continuer"
                >Continuer</button>
            {% else %}
            <button type="submit" name="_submit" class="btn">Soumettre</button>
            {% endif %}
        {% endif %}
    </form>
</div>

<div class="disclaimer--wrapper scroll-reveal">
    <p>
        La loi rend passible d'amende et/ ou d'emprisonnement quiconque sera rend coupable de fraude ou de fausse déclaration en vue d'obtenir ou de tenter d'obtenir des avantages indus (articles 313-1 à 313-3, 433-19, 441-1 et suivants du Code pénal).
    </p>
    <p>
        En outre, l'inexactitude, le caractère incomplet des déclarations ou l'absence de déclaration d'un changement de situation dans le but d'obtenir le versement de prestations indues, peuvent faire l'objet d'une pénalité financière en application de l'article L.162-1-14 du Code de la sécurité sociale.
    </p>
    <p>
      Les informations recueillies sont traitées pour gérer votre demande de remboursement de transport sous la responsabilité du Directeur de votre CPAM de rattachement. Elles sont conservées pendant 33 mois et sont adressées à votre CPAM de rattachement.
      Votre email sera utilisé dans le but de vous envoyer occasionnellement des emails de confirmation.
      Conformément aux dispositions relatives à la protection des données personnelles, vous pouvez exercer les droit d'accès, de rectification et de limitation des données vous concernant en adressant une demande écrite au directeur de votre caisse d’assurance maladie de rattachement en contactant le ou la délégué(e) à la protection des données.
      Les réclamations au titre de la protection des données personnelles peuvent être introduites auprès de la CNIL (Commission Nationale Informatique et Libertés - TSA 80715 - 75334 PARIS CEDEX 07).
    </p>
</div>
