{% load material_form %}

<script type="text/json" id="caissesJson">
{{ view.caisses_json|safe }}
</script>

<h2 class="scroll-reveal">Formulaire de remboursement</h2>
<p id="subtitle" class="scroll-reveal">
  Réalisez votre demande de remboursement en ligne dès maintenant.
</p>

<div id="subtitle-confirm" hidden="true" class="with-ul">
  <p>
    Attention certaines dates de trajet ont déjà été déclarées. Cela peut pénaliser votre remboursement. Nous vous invitons à vérifier chaque date soulignée et à :
    <ul style="margin-left: 7em">
      <li> corriger votre saisie s'il s'agit d'une erreur de date </li>
      <li> annuler votre saisie si la demande a déjà été faite précédemment </li>
      <li> confirmer votre saisie s'il s'agit d'une nouvelle demande. </li>
    </ul>
  </p>
</div>

<div class="form--wrapper scroll-reveal">
    <form method="POST" id="mrsrequest-wizard" class="mrsrequest-wizard" style="display: none">

        {% if view.success %}
        <div class="card-panel teal lighten-4">
            Merci pour votre demande ! Nous reviendrons vers vous dès que possible.
            <br />
            <a data-load-in-form="{{ path_info }}?first_name={{ request.POST.first_name }}&last_name={{ request.POST.last_name }}&nir={{ request.POST.nir }}&email={{ request.POST.email }}&birth_date={{ request.POST.birth_date }}&caisse={{ request.POST.caisse }}">Cliquez ici pour faire une nouvelle demande.</a>
        </div>

        {% elif view.success_caisse %}
        <div class="card-panel teal lighten-4">
            Merci pour votre intérêt ! Nous reviendrons vers vous dès que votre caisse entrera dans le dispositif MRS
        </div>

        {% else %}

            {% comment %}
            in my tests, moving this elsewhere causes view.forms.mrsrequest.errors.pmt to
            always be empty, bug needs isolation and upstream report prolly
            {% endcomment %}
            <style type="text/css">
            #id_iterative_number_container {
                display: none;
            }
            {% if request.GET.hidePMT %}
            {# hack for institution iframe #}
            #pmt-form {
                display: {% if view.forms.mrsrequest.errors.pmt %}block{% else %}none{% endif %};
            }
            {% endif %}
            </style>

            {% csrf_token %}

            {% if not view.confirm %}
                {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.above %}
                {% endform %}
            {% endif %}

            <div id="mrsrequest-form" style="display: none">
                {% if view.confirm %}
                    {% for name, value in request.POST.items %}
                        {% if 'transport-' not in name and 'csrfmiddlewaretoken' not in name %}
                        <input type="hidden" name="{{ name }}" value="{{ value }}" />
                        {% endif %}
                    {% endfor %}
                    <input type="hidden" name="confirm" value="1" />

                    {{ view.forms.transport_formset.management_form }}
                    {% for subform in view.forms.transport_formset %}
                        {% form form=subform layout=subform.layout %}
                        {% endform %}
                    {% endfor %}

                    {% form form=view.forms.certify %}
                    {% endform %}

                {% else %}
                    <div id="pmt-form">
                    {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.top %}
                    {% endform %}
                    </div>
                    {% form form=view.forms.person layout=view.forms.person.layout %}
                    {% endform %}
                    {% form form=view.forms.transport layout=view.forms.transport.layout %}
                    {% endform %}

                    {{ view.forms.transport_formset.management_form }}
                    {% for subform in view.forms.transport_formset %}
                        {% form form=subform layout=subform.layout %}
                        {% endform %}
                    {% endfor %}

                    {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.modevp %}{% endform %}
                    <div id="vp-form" style="display: none">
                      {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.vp_form %}{% endform %}
                    </div>

                    {% comment %}
                    Please forgive the paste of the same 4 lines as above, below
                    this comment. This is what we could do to refactor it in Jinja2:

                    {% for i in ['vp', 'tc'] %}
 '_enable'] %}       endform %}
                    <div class="#{{ i }}-form">
 '_form'] %}{%      ndform %}
                    </div>
                    {% endfor %}
                    {% endcomment %}

                    {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.modeatp %}{% endform %}
                    <div id="atp-form" style="display: none">
                      {% form form=view.forms.mrsrequest layout=view.forms.mrsrequest.layouts.atp_form %}{% endform %}
                    </div>

                    {% form form=view.forms.certify %}
                    {% endform %}

                    {% form form=view.forms.use_email %}
                    {% endform %}
                {% endif %}
            </div>

            <div id="caisse-form" style="display: none">
                {% form form=view.caisse_form %}{% endform %}
            </div>

            <br />

            {% if view.confirm %}
            <table>
              <tr>
                <td style="text-align: right">
                  <a
                      href="/demande" name="cancel" class="btn red"
                      title="Annuler cette demande et revenir au formulaire">
                    Annuler
                  </a>
                </td>
                <td>
                  <button type="submit" name="confirm" class="btn">Confirmer</button>
                </td>
              </tr>
            </table>
            {% else %}
            <button type="submit" name="_submit" class="btn">Soumettre</button>
            {% endif %}
        {% endif %}
    </form>
</div>

<div class="disclaimer--wrapper scroll-reveal">
    <p>
        La loi rend passible d'amende et/ ou d'emprisonnement quiconque sera rend coupable de fraude ou de fausse déclaration en vue d'obtenir ou de tenter d'obtenir des avantages indus (articles 313-1 à 313-3, 433-19, 441-1 et suivants du Code pénal).
    </p>
    <p>
        En outre, l'inexactitude, le caractère incomplet des déclarations ou l'absence de déclaration d'un changement de situation dans le but d'obtenir le versement de prestations indues, peuvent faire l'objet d'une pénalité financière en application de l'article L.162-1-14 du Code de la sécurité sociale.
    </p>
    <p>
        La loi 78.17 du 6/01/78 modifiée relative à l'informatique, aux fichiers et aux libertés s'applique aux réponses faites sur ce formulaire. Elle garantit un droit d'accès et de rectification pour les données vous concernant
    </p>
</div>
