{% extends view.base %}
{% load render_bundle from webpack_loader %}

{% block title %}Déclarez vos frais de transports personnels{% endblock %}
{% block description %}Avec Mes Remboursements Simplifiés (MRS), sous réserve d’une prescription médicale, vous pouvez déclarer directement en ligne vos frais de transports personnels. C’est simple et rapide : vous prenez en photo vos justificatifs et en une semaine vous êtes remboursé.{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    {% render_bundle 'mrsbootstrap' 'css' %}
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Faustina"
          rel="stylesheet"/>

    <style>
        html {
            font-size: inherit;
        }

        .form--wrapper a {
            text-decoration: underline;
        }

        .row {
            display: block;
        }

        nav {
            background-color: inherit;
            height: inherit;
            width: inherit;
            line-height: inherit;
            box-shadow: inherit;
        }

        nav ul a.btn {
            margin: 0;
        }

        .btn {
            height: inherit;
            letter-spacing: inherit;
            outline: inherit;
            margin: 0;
        }

        #footer .row {
            display: flex;
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'header_new_include.html' %}

    <div class="mrs-std-page--wrapper">
        <div class="mrs-std-page">
            {% include 'mrsrequest/_form.html' %}
            {{ block.super }}
        </div>
    </div>

    {% include 'footer_new_include.html' %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
	    $( document ).ready(function() {
	  		$('#caisse-selector .help-block').hide();
	  		$('#caisse-form').hide();
	    });
    </script>
{% endblock %}