{% extends view.base %}

{% block title %}Déclarez vos frais de transports personnels{% endblock %}
{% block description %}Avec Mes Remboursements Simplifiés (MRS), sous réserve d’une prescription médicale, vous pouvez déclarer directement en ligne vos frais de transports personnels. C’est simple et rapide : vous prenez en photo vos justificatifs et en une semaine vous êtes remboursé.{% endblock %}

{% block content %}
    <div class="mrs-std-page--wrapper">
        <div class="mrs-std-page">
            {% include 'mrsrequest/_form.html' %}
            {{ block.super }}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
	    $( document ).ready(function() {
	  		$('#caisse-selector .help-block').hide();
	  		$('#caisse-form').hide();
	    });
    </script>
{% endblock %}
