{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<form method="POST" id="mrsrequest-wizard" style="display: none">
    {% if view.success %}
    <div class="card-panel teal lighten-4">
        Merci pour votre demande ! Nous reviendrons vers vous dès que possible.
        <br />
        <a data-load-in-form="{{ path_info }}">Cliquez ici pour faire une nouvelle demande.</a>
    </div>
    {% else %}
        {% csrf_token %}
        <input type="hidden" name="mrsrequest_uuid" value="{{ view.mrsrequest_uuid }}" />

        {% for form in view.forms.values %}
            {% form form=form %}{% endform %}
        {% endfor %}

        <br />

        <button type="submit" name="_submit" class="btn">Submit</button>
    {% endif %}
</form>
{% endblock %}
