{% extends 'mrsrequest/mrsrequest_admin.html' %}

{% block success %}
    <div class="card-panel green lighten-4">
        La requête est passée au statut "validée" et le mail suivi est parti vers le service de liquidation.
    </div>
    <pre>
        {{ view.get_success_mail_body }}
    </pre>
{% endblock %}

{% block form %}
<p class="errornote">
    ATTENTION la validation entraine l'envoie du mail suivant à la liquidation.
</p>
<fieldset class="module aligned ">
	<h2>Valider la demande</h2>
    <div class="form-row">
        <pre style="color: black">{{ view.get_mail_body }}</pre>
    </div>
</fieldset>
{% csrf_token %}
{% endblock %}
