{% extends 'admin/base_site.html' %}
{% load i18n admin_urls admin_static admin_modify %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ view.action_name }} #{{ view.object.display_id }}{% endblock %}

{% block footer %}
    {{ block.super }}
    {% include '_base_js.html' %}
    {% render_bundle 'admin' 'js' %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='mrsrequest' %}">Requêtes</a>
&rsaquo; <a href="{% url 'admin:mrsrequest_mrsrequest_changelist' %}">Requêtes</a>
&rsaquo; <a href="{{ object.get_admin_url }}">Requêtes #{{ view.object.display_id }}</a>
&rsaquo; {{ view.action_name }}
</div>
{% endblock %}
{% endif %}

{% block content %}
{% if view.success %}
    {% block success %}
    {% endblock %}
{% else %}
<form method="POST" action="">
    <div>
        {% block form %}{% endblock %}

        <div class="submit-row">
            <p class="deletelink-box">
                <a href="{{ view.object.get_admin_url }}" class="deletelink">Annuler</a>
            </p>
            <input value="Confirmer" type="submit" />
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
