{% extends 'mrsrequest/mrsrequest_admin.html' %}

{% block form %}
<script type="text/javascript">
window.rejectTemplates = {{ view.reject_templates_json|safe }}
</script>
<style type="text/css">
#id_body {
    width: 80%;
    min-width: 400px;
    min-height: 400px;
}
#id_subject {
    min-width: 400px;
    width: 80%;
}
</style>

<fieldset class="module aligned">
	<h2>Rejeter la demande</h2>
	<div class="form-row">
        <div class="field-box">
            <label>Template d'Email:</label>
            {{ form.template }}
        </div>
    </div>
	<div class="form-row">
        <div>
            <label>Sujet du courriel:</label>
            {{ form.subject }}
        </div>
    </div>
	<div class="form-row">
        <div>
            <label>Corps du courriel:</label>
            {{ form.body }}
        </div>
    </div>
</fieldset>
{% csrf_token %}
{% endblock %}
