{% load material_form %}
<form method="POST" action="{% url 'contact' %}" id="contact" class="contact" style="display: none">
    {% csrf_token %}

    {% if view.success %}
    <div class="card-panel teal lighten-4">
        Merci pour votre message ! Nous reviendrons vers vous dès que possible.
        <br />
    </div>
    {% elif form %}
      <div>Pour toutes autres questions, utilisez le formulaire de contact ci-dessous.</div>

      {% form form=form %}{% endform %}
      <br />
      <button type="submit" name="_submit" class="btn">Envoyer</button>
    {% endif %}
</form>
