{% extends 'base.html' %}

{% block title %}Contactez MRS{% endblock %}
{% block description %}Vous souhaitez contacter Mes Remboursements Simplifiés (MRS) ? Vous pouvez poser une question sur le service MRS ou nous faire part de vos remarques à travers le formulaire de contact.{% endblock %}

{% block content %}
<div class="mrs-std-page--wrapper">

    <div class="mrs-std-page">
      <h5> N'hésitez pas à nous contacter ! </h5>
      <div> Nous ne pouvons traiter votre dossier de remboursement
      sur cet espace contact. </div>
      <div>Pour toutes autres questions, utilisez le formulaire de contact ci-dessous.</div>

        {% include 'contact/_form.html' %}
    </div>
</div>
{% endblock %}
