{% extends "admin/change_form.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n admin_urls admin_static admin_modify humanizelib %}

{% block object-tools %}{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% render_bundle 'admin' 'js' %}
{% endblock %}

{% block field_sets %}
<fieldset class="module aligned">
    <h2>Général</h2>
    <div class="form-row field-create_time">
        <div class="field-box">
            <label>Date de création :</label>
            <div class="readonly">{{ original.creation_datetime }}</div>
        </div>
        <div class="field-box">
            <label>Addresse ip :</label>
            <div class="readonly">{{ original.creation_ip }}</div>
        </div>
    </div>
    <div class="form-row field-display_id">
        <div>
            <label>Numéro :</label>
            <div class="readonly">{{ original.display_id }}</div>
        </div>
    </div>
    <div class="form-row field-total_size">
        <div>
            <label>Taille totale :</label>
            <div class="readonly">{{ original.total_size|naturalsize }}</div>
        </div>
    </div>
</fieldset>
<fieldset class="module aligned">
    <h2>Caisse</h2>
    <div class="form-row field-pmt">
        <div>
            <label>Caisse :</label>
            <div class="readonly">{{ original.caisse }}</div>
        </div>
    </div>
</fieldset>
<fieldset class="module aligned">
    <h2>PMT</h2>
    <div class="form-row field-pmt">
        <div>
            <label>PMT :</label>
            <div class="readonly">
                <a
                    href="{{ original.pmt.get_download_url }}"
                    target="_blank"
                >{{ original.pmt.filename }}</a>
                {{ original.pmt.binary|length|naturalsize }}
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="module aligned ">
    <h2>Identité de la personne transportée</h2>
    <div class="form-row">
        <div class="field-box">
            <label>Prénom :</label>
            <div class="readonly">{{ original.insured.first_name }}</div>
        </div>
        <div class="field-box">
            <label class="inline">Nom :</label>
            <div class="readonly">{{ original.insured.last_name }}</div>
        </div>
    </div>
    <div class="form-row">
        <div class="field-box">
          <label class="inline">Date de naissance :</label>
          <div class="readonly">{{ original.insured.birth_date }}</div>
        </div>
    </div>
</fieldset>
<fieldset class="module aligned ">
    <h2>Identité de l'assuré-e</h2>
      <div class="form-row">
        <div class="field-box">
            <label>NIR :</label>
            <div class="readonly">{{ original.insured.nir }}</div>
        </div>
        <div class="field-box">
            <label class="inline">Email :</label>
            <div class="readonly">{{ original.insured.email }}</div>
        </div>
    </div>
</fieldset>
<fieldset class="module aligned ">
    <h2>Informations sur les {{ original.transport_set.all|length }} transport(s)</h2>
    {% for transport in original.transport_set.all %}
    <div class="form-row">
        <div class="field-box">
            <label>Date de l'aller {{ forloop.counter }} :</label>
            <div class="readonly">{{ transport.date_depart }}</div>
        </div>
        <div class="field-box">
            <label>Date de retour {{ forloop.counter }} :</label>
            <div class="readonly">{{ transport.date_return }}</div>
        </div>
    </div>
    {% endfor %}
    <div class="form-row">
        <div class="field-box">
              <label>Distance (km parcourus) :</label>
            <div class="readonly">{{ original.distance }}</div>
        </div>
    </div>
    <div class="form-row">
        <div class="field-box">
            <label class="inline">Montant total des frais de péage / stationnement / transport en commun (en euros) :</label>
            <div class="readonly">{{ original.expense }}</div>
        </div>
    </div>
    {% if original.expense %}
        <h2>Justificatifs</h2>
        <div class="form-row">
            <label>Justificatifs attachés :</label>
            {% for bill in original.bill_set.all %}
                <ul>
                    <li>
                        <a
                            href="{{ bill.get_download_url }}"
                            target="_blank"
                        >{{ bill.filename }}</a>
                        {{ bill.binary|length|naturalsize }}
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
</fieldset>
{% endblock %}

{% block submit_buttons_bottom %}
{% if original.status %}
<div class="submit-row">
    Statut: {{ original.get_status_display }}
    Par: {{ original.status_user }}
    Le: {{ original.status_datetime }}
</div>
{% else %}
<div class="submit-row">
    <p class="deletelink-box">
        <a href="{{ original.get_reject_url }}" class="deletelink">Rejeter</a>
    </p>
    <input href="{{ original.get_validate_url }}" value="Valider" type="submit" />
</div>
{% endif %}
{% endblock %}
