{% extends "admin/change_form.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n admin_urls admin_static admin_modify humanizelib %}

{% block object-tools %}{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% render_bundle 'admin' 'js' %}
{% endblock %}

{% block field_sets %}
<fieldset class="suit-form module aligned ">
    <h2>Général</h2>
	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
			Date et heure de soumission :
		</label>
		<div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
			<div class="multi-field readonly">
				<p class="form-control-static">
                    {{ original.creation_datetime }}
                </p>
			</div>
			<div class="multi-field readonly">
				<label class="form-control-label"><label class="inline">
                    Addresse ip :
                </label></label>
				<div class="multi-field-content widget-CheckboxInput">
                    <p class="form-control-static">
                        {{ original.creation_ip }}
                    </p>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Numéro :
		</label>
		<div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
			<div class="multi-field readonly">
				<p class="form-control-static">
                    {{ original.display_id }}
                </p>
			</div>
			<div class="multi-field readonly">
				<label class="form-control-label"><label class="inline">
                    Taille totale :
                </label></label>
				<div class="multi-field-content widget-CheckboxInput">
                    <p class="form-control-static">
                        {{ original.total_size|naturalsize }}
                    </p>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
			Caisse :
		</label>
        <div class=" col-xs-12 col-sm-9 col-md-8 col-lg-7 widget-AdminTextInputWidget ">
            <p class="form-control-static">
                {{ original.caisse }}
            </p>
        </div>
    </div>
	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
			PMT :
		</label>
        <div class=" col-xs-12 col-sm-9 col-md-8 col-lg-7 widget-AdminTextInputWidget ">
            <p class="form-control-static">
                <a
                    href="{{ original.pmt.get_download_url }}"
                    target="_blank"
                >{{ original.pmt.filename }}</a>
                {{ original.pmt.binary|length|naturalsize }}
            </p>
        </div>
    </div>
</fieldset>

<fieldset class="suit-form module aligned ">
    <h2>Identité de la personne transportée</h2>
	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
			Prénom :
		</label>
		<div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
			<div class="multi-field readonly">
				<p class="form-control-static">
                    {{ original.insured.first_name }}
                </p>
			</div>
			<div class="multi-field readonly">
				<label class="form-control-label"><label class="inline">
                    Nom :
                </label></label>
				<div class="multi-field-content widget-CheckboxInput">
                    <p class="form-control-static">
                        {{ original.insured.last_name }}
                    </p>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
			Date de naissance :
		</label>
		<div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
			<div class="multi-field readonly">
				<p class="form-control-static">
                    {{ original.insured.birth_date }}
                </p>
			</div>
		</div>
	</div>
</fieldset>

<fieldset class="suit-form module aligned ">
    <h2>Identité de l'assuré-e</h2>
	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
			NIR :
		</label>
		<div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
			<div class="multi-field readonly">
				<p class="form-control-static">
                    {{ original.insured.nir }}
                </p>
			</div>
			<div class="multi-field readonly">
				<label class="form-control-label"><label class="inline">
                    Courriel :
                </label></label>
				<div class="multi-field-content widget-CheckboxInput">
                    <p class="form-control-static">
                        {{ original.insured.email }}
                    </p>
				</div>
			</div>
		</div>
	</div>
</fieldset>


<fieldset class="suit-form module aligned ">
    <h2>Informations sur {% if original.transport_set.all|length > 1 %}les {{ original.transport_set.all|length }} transports{% else %}le transport{% endif %}</h2>
    {% for transport in original.transport_set.all %}
	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
            Date de l'aller {% if original.transport_set.all|length > 1 %}{{ forloop.counter }} {% endif %}:
		</label>
		<div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
			<div class="multi-field readonly">
				<p class="form-control-static">
                    {{ transport.date_depart }}
                </p>
			</div>
			<div class="multi-field readonly">
				<label class="form-control-label"><label class="inline">
                        Date du retour {% if original.transport_set.all|length > 1 %}{{ forloop.counter }} {% endif %}:
                </label></label>
				<div class="multi-field-content widget-CheckboxInput">
                    <p class="form-control-static">
                        {{ transport.date_return }}
                    </p>
				</div>
			</div>
		</div>
	</div>
    {% endfor %}

	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
			Distance (km parcourus) :
		</label>
		<div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
			<div class="multi-field readonly">
				<p class="form-control-static">
                    {{ original.distance }}
                </p>
			</div>
		</div>
	</div>

	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
			Montant total des frais (en € TTC) :
		</label>
		<div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
			<div class="multi-field readonly">
				<p class="form-control-static">
                    {{ original.expense }}
                </p>
			</div>
		</div>
	</div>
</fieldset>

{% if original.expense %}
<fieldset class="suit-form module aligned ">
    <h2>Justificatif{% if original.bill_set.all|length > 1 %}s{% endif %}</h2>
	<div class="form-group row form-row  field-number field-active">
		<label class="form-control-label col-xs-12 col-sm-3 col-md-2">
			Justificatifs attachés :
		</label>
		<div class="col-xs-12 col-sm-9 col-md-10 col-multi-fields">
			<div class="multi-field readonly">
				<p class="form-control-static">
                {% for bill in original.bill_set.all %}
                    <ul>
                        <li>
                            <a
                                href="{{ bill.get_download_url }}"
                                target="_blank"
                            >{{ bill.filename }}</a>
                            {{ bill.binary|length|naturalsize }}
                        </li>
                    </ul>
                {% endfor %}
                </p>
			</div>
		</div>
	</div>
</fieldset>
{% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
{% if original.status %}
<div class="submit-row">
    Statut: {{ original.get_status_display }}
    Par: {{ original.status_user }}
    Le: {{ original.status_datetime }}
</div>
{% else %}
<div class="submit-row">
    <p class="deletelink-box">
        <a href="{{ original.get_reject_url }}" class="deletelink">Rejeter</a>
    </p>
    <input href="{{ original.get_validate_url }}" value="Valider" type="submit" />
</div>
{% endif %}
{% endblock %}
