{% extends 'base.html' %}

{% import 'crudlfap.html' as crudlfap %}

{% block content %}
<div class="row">
    <div class="col s12 m3">
        <h5 class="header">Demandes</h5>
        <div class="collection">
            <a
                class="collection-item"
                href="{{ crudlfap_site[view.model].views['list'].url }}?status={{ view.model.STATUS_NEW }}&sort=creation_datetime">
                Soumises
                <span class="secondary-content">
                    {{ view.get_queryset().status('new').count() }}
                </span>
            </a>
            <a
                class="collection-item"
                href="{{ crudlfap_site[view.model].views['list'].url }}?status={{ view.model.STATUS_INPROGRESS }}">
                En cours de liquidation
                <span class="secondary-content">
                    {{ view.get_queryset().status('inprogress').count() }}
                </span>
            </a>
            <a
                class="collection-item"
                href="{{ crudlfap_site[view.model].views['list'].url }}?status={{ view.model.STATUS_VALIDATED }}">
                Validées
                <span class="right">
                    {{ view.get_queryset().status('validated').count() }}
                </span>
            </a>
            <a
                class="collection-item"
                href="{{ crudlfap_site[view.model].views['list'].url }}?status={{ view.model.STATUS_REJECTED }}">
                Rejetées
                <span class="right">
                    {{ view.get_queryset().status('rejected').count() }}
                </span>
            </a>
            <a
                class="collection-item"
                href="{{ crudlfap_site[view.model].views['list'].url }}">
                Total
                <span class="right">
                    {{ view.get_queryset().count() }}
                </span>
            </a>
        </div>
    </div>
    <div class="col s12 m9">
        {% if request.user.profile != 'support '%}
            <h5>Mes demandes en cours de liquidation</h5>
            {% if view.listview.object_list|length %}
            {{ view.table.as_html(view.request) }}
            {% else %}
            <p>Je n'ai pas de demandes en cours de liquidation</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block after_container %}
{{ super() }}
<div style="display: none" class="bottom center-align" id="listaction">
  {{ crudlfap.dropdown(
    view.listactions,
    'listaction-dropdown',
    class='btn waves-effect waves-light',
    text='select',
    iclass='left',
  ) }}
</div>
{% endblock %}
