{% extends 'base.html' %}

{% import 'crudlfap.html' as crudlfap %}

{% block content_open %}<div style="padding: 0 24px" id="modal-body-ajax">{% endblock %}

{% block content %}
<div class="row">
    <div class="col m3 s12">
        <div class="card-panel">
            <h5>Demandes</h5>
            <p>
                Soumises
                <span class="right">
                    <a href="{{ crudlfap_site[view.model].views['list'].url }}?status={{ view.model.STATUS_NEW }}&sort=creation_datetime">
                        {{ view.get_queryset().status('new').count() }}
                    </a>
                </span>
            </p>
            <p>
                En cours de liquidation
                <span class="right">
                    <a href="{{ crudlfap_site[view.model].views['list'].url }}?status={{ view.model.STATUS_INPROGRESS }}">
                        {{ view.get_queryset().status('inprogress').count() }}
                    </a>
                </span>
            </p>
            <p>
                Validées
                <span class="right">
                    <a href="{{ crudlfap_site[view.model].views['list'].url }}?status={{ view.model.STATUS_VALIDATED }}">
                        {{ view.get_queryset().status('validated').count() }}
                    </a>
                </span>
            </p>
            <p>
                Rejetées
                <span class="right">
                    <a href="{{ crudlfap_site[view.model].views['list'].url }}?status={{ view.model.STATUS_REJECTED }}">
                        {{ view.get_queryset().status('rejected').count() }}
                    </a>
                </span>
            </p>
            <p>
                Total
                <span class="right">
                    <a href="{{ crudlfap_site[view.model].views['list'].url }}">
                        {{ view.get_queryset().count() }}
                    </a>
                </span>
            </p>
        </div>
    </div>
    <div class="col m9 s12">
        <div class="card-panel">
            <h5>Mes demandes en cours de liquidation</h5>
            {{ view.table.as_html(view.request) }}
        </div>
    </div>
</div>
{% endblock %}

{% block after_container %}
{{ super() }}
<div style="display: none" class="bottom center-align" id="listaction">
  {{ crudlfap.dropdown(
    view.listactions,
    'listaction-dropdown',
    class='btn waves-effect waves-light',
    text='select',
    iclass='left',
  ) }}
</div>
{% endblock %}
