{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
      {% render_bundle 'landing' 'css' %}
  </head>
  <body>
      <div
          id="header"
          style="width: 100%">
      </div>
    <iframe
      width="100%"
      height="100%"
      id="autoheight"
      src="https://app.powerbi.com/view?r=eyJrIjoiNDkyMTJlNTgtYjUwMi00MjVkLWFiN2EtOGRkZDUwYWQ4ZDY1IiwidCI6IjZiOTQwZTMyLTNlZjMtNGNiYi04OTBiLWMzMzcxY2U5M2M5ZCIsImMiOjh9"
      frameborder="0"
      allowFullScreen="true"
    ></iframe>
    {% render_bundle 'header' %}
    {% render_bundle 'statistics' %}
  </body>
</html>
