@import './mixins.sass'
@import './vars.sass'

#faq--wrapper
  display: flex

  h3
    & > span
      $height: 1.5rem

      height: $height
      padding: 1 rem
      background-color: $primary-blue
      border-top-right-radius: calc(#{$height} / 2)
      border-bottom-right-radius: calc(#{$height} / 2)
      font-size: 1rem
      padding: 0 1rem
      text-transform: uppercase
      color: white
      font-weight: bold

    &:first-child
      margin: 0

  .col--wrapper
    +flex-column()
    flex: 1

    &.left
      margin-right: 2rem

    img
      width: 100%

    .question--wrapper
      margin: 1rem 0 0 0

      &:last-child
        margin: 1rem 0 1rem 0

      .question
        color: $primary-red
        font-size: 1rem
        font-weight: bold
        font-style: italic
        text-align: left

      .answer
        font-size: 0.8rem
        color: $primary-blue

        p
          text-align: left

        li
          list-style-type: disc
          text-align: left
          list-style-position: inside

