$desktop-min-width: 992px

::-webkit-progress-value, ::-moz-progress-bar
  background: #0dc5b9

.mrsrequest-wizard
  .input-field.file-field
    @import './upload'

.mrs-std-page--wrapper
  background-color: #edf1f3
  padding: 0
  color: black

  @media (min-width: $desktop-min-width)
    padding: 0 15vw

  .mrs-std-page
    background-color: white
    display: flex
    flex-direction: column
    padding: 7vw
    min-height: calc(100vh - 11rem)

    @media (min-width: $desktop-min-width)
      min-height: calc(100vh - 7rem)

    &.no-padding
      padding: 0


    h2
      font-size: 2rem
      text-align: center

    p
      text-align: center
