@import './mixins.sass'
@import './vars.sass'

.thumb--wrapper
  position: relative
  height: 0

  .thumb
    $height: 7rem
    position: absolute
    height: $height
    width: 20rem
    transform: translateY(-50%)
    border-top-right-radius: $height
    border-bottom-right-radius: $height
    background-color: red
    display: flex
    justify-content: center

#index--wrapper
  .mrs-logo--wrapper
    +flex-center()
    flex-direction: column
    background-color: white

    @media (min-width: $desktop-min-width)
      flex-direction: row

    .mrs-logo
      width: 70vw
      max-width: 20rem
      margin: 3rem 0 2rem 0

      @media (min-width: $desktop-min-width)
        margin-left: $desktop-page-margin-left
        margin-top: 2rem
        margin-bottom: 3rem

    #intro--wrapper
      +flex-center()
      $padding-left: $page-margin-left

      flex-direction: column
      width: 100%
      background-color: $primary-blue
      color: $secondary-blue
      position: relative
      height: 5rem
      padding: 0 $padding-left

      @media (min-width: $desktop-min-width)
        background-color: rgba(0, 0, 0, 0)
        color: $primary-blue
        margin-right: $desktop-page-margin-left

      p
        margin: 0
        font-size: 1.2rem
        font-weight: bold
        line-height: 1.3rem

      .start-button
        +button($primary-blue)
        position: absolute
        top: calc(100% + 1rem)
        left: $padding-left
        color: white

        @media (min-width: $desktop-min-width)
          top: 100%

  #intro-bg-img
    background-size: cover
    height: 60vw
    max-height: 30rem

  #intro-descr--wrapper
    .thumb
      +flex-column()
      +wrapper()
      background-color: $primary-green
      color: white
      padding-right: 2rem
      width: 85vw
      max-width: 50rem

      h3
        +faustina-bold-italic()
        font-size: 1.05rem
        font-weight: bold
        font-style: italic
        margin: 0
        margin-bottom: 0.5rem

      p
        +barlow-regular()
        font-size: 0.9rem
        line-height: 0.9rem
        margin: 0

  #hier-ajd--wrapper
    +flex-column()
    +wrapper()
    background-color: $secondary-blue
    color: $primary-blue
    padding-top: 5rem
    padding-bottom: 5rem

    @media (min-width: $desktop-min-width)
      flex-direction: row
      padding-right: $desktop-page-margin-left
      justify-content: space-between

    .hier--wrapper, .ajd--wrapper
      +flex-column()
      padding-left: 1rem

      h3
        +faustina-bold-italic()
        margin: 0

    .hier--wrapper h3 span, .ajd--wrapper h3 span
      +button(white)
      font-size: 1.2rem
      color: $primary-red
      font-style: italic
      padding-top: 0
      padding-bottom: 0
      font-weight: bold

    .ajd--wrapper
      @media (min-width: $desktop-min-width)
        margin-left: 2rem

      h3 span
        background-color: $primary-red
        color: white


    ul
      li
        font-size: 0.9rem
        list-style-type: disc
        color: $primary-red

        span
          color: $primary-blue

  #etapes-descr--wrapper
    .thumb
      +wrapper()
      +barlow-regular()
      background-color: white
      color: $primary-blue
      font-size: 1.5rem
      line-height: 1.5rem
      width: 95vw
      max-width: 65rem

      strong
        +barlow-bold()

      @media (min-width: $desktop-min-width)
        transform: translateY(75%)
        height: 2.5rem

      p
        margin: auto

  #index-footer--wrapper
    display: flex
    justify-content: center
    margin: 3rem 0

    a

      &:first-child
        margin-right: 1.5rem

        @media (min-width: $desktop-min-width)
          justify-content: flex-end
          margin-right: 2.5rem
          padding-right: 2.5rem
          border-right: 2px solid #bfbfbf

      img
        max-height: 2rem

  #caroussel
    background-color: $primary-green

    h2
      margin: 0
      font-size: 1.3rem
      text-align: center
      padding: 3rem 1rem
      font-weight: bold

    img
      display: flex
      margin: 0 auto 2rem auto

  #contact--wrapper
    display: none
    background-color: $primary-grey
    border-top: 1px solid white

    .wrapper2
      width: 25rem
      padding: 6rem 0

    h3
      +barlow-extra-bold()
      font-size: 2rem
      margin-bottom: 0
      margin-top: 0

    h4
      +barlow-bold()
      font-size: 1rem
      color: $secondary-grey
      margin-top: 1rem

    h5
      display: none

    form
      +flex-column()
      justify-content: flex-start

    input, textarea, button
      +barlow-condensed-bold()
      $height: 2rem
      background-color: $secondary-black
      border-radius: calc(#{$height})
      border: none
      color: white
      height: $height
      box-sizing: border-box
      padding-left: 2rem

      &:focus
        background-color: $primary-black
        border: 2px solid #8799a3

    textarea
      min-height: 6rem
      border-radius: 1.5rem

    label
      top: -15%
      padding-left: 2.8rem
      left: 0
      right: 0
      font-size: 0.8rem
      height: 100%
      top: -35%
      display: flex
      align-items: center


      &.active
        transform: translateY(-20px) scale(0.8)translateX(5%)
        opacity: 0
        pointer-events: none

    button
      background-color: $primary-green
      margin-left: 0
      height: 2.4rem


    @media (min-width: $desktop-min-width)
      +flex-center()
      +flex-column()
      justify-content: center

