{% extends 'crudlfap/update.html' %}

{% block success %}
    <div class="card-panel green lighten-4">
        La requête est passée au statut "validée" et le mail suivant est parti vers le service du Contrôle.
    </div>
    <pre>
        {{ view.get_success_mail_body() }}
    </pre>
{% endblock %}

{% block content %}
<div class="red darken-1 white-text center">
  <p class="flow-text">
    ATTENTION la validation entraine l'envoie du mail suivant à l'assuré-e.
  </p>
</div>
<div class="form-row">
    <pre style="color: black">{{ view.mail_render('insured', 'body') }}</pre>
</div>

<div class="red darken-1 white-text center">
  <p class="flow-text">
    ATTENTION la validation entraine l'envoie du mail suivant au service du Contrôle pour archivage.
  </p>
</div>
<div class="form-row">
    <pre style="color: black">{{ view.mail_render('liquidation', 'body') }}</pre>
</div>
{% csrf_token %}
{% endblock %}
