{% extends 'crudlfap/detail.html' %}

{% macro show_bills(mode) %}
{% if object.get_bills(mode)|length %}
<p>
    Justificatif{% if object.get_bills(mode)|length > 1 %}s{% endif %} attaché{% if object.get_bills(mode)|length > 1 %}s{% endif %}:
</p>
<ul style="margin: 0">
    {% for bill in object.get_bills(mode) %}
    <li>
        <a
            href="{{ bill.get_download_url() }}"
            {% if bill.filename.lower().endswith('pdf') %}
            target="_blank"
            {% else %}
            data-controller="viewerjs"
            data-action="click->viewerjs#click"
            data-viewerjs="uploads"
            {% endif %}
            data-noprefetch="true"
        >{{ bill.filename }} ({{ naturalsize(bill.binary|length) }})</a>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% block breadcrumb %}
<nav>
  <div class="nav-wrapper" style="background-color: {{ BACKGROUND_COLOR }}">
    <div class="col s12">
      <a
        class="breadcrumb"
        style="padding-left: 1em"
        href="{{ crudlfap_site.views['home'].url }}"
      >{{ _('Home') }}</a>
      {% set v = crudlfap_site[view.model]['list'](request=request) %}
      <a
        class="breadcrumb"
        href="{{ v.reverse() }}"
      >{{ v.model._meta.verbose_name_plural.capitalize() }}</a>
      {% for value, label in view.model.STATUS_CHOICES %}
        {% if object.status == value %}
          <a
            class="breadcrumb"
            href="{{ v.reverse() }}?status={{ object.status }}"
          >{{ label }}</a>
        {% endif %}
      {% endfor %}
      {% if object and getattr(object, 'get_absolute_url', None) %}
        <a class="breadcrumb" href="{{ object.get_absolute_url() }}">{{ object }}</a>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<style type="text/css">
.card-content p { clear: both; }
.underline-dotted-red { text-decoration: underline dotted red; }
.duplicates th, .duplicates td, .duplicates ul { margin: 0; padding: 2px; }
.row:first { padding-top: 12px; }
</style>
{% if object.duplicates_by_transport %}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content valign-wrapper">
                <div style="display: inline-block; width: 50%">
                    <span class="card-title red-text">
                        <b>Attention</b>
                        <br />
                        Dates de trajet conflictuelles
                    </span>
                    <p>
                        Les transports suivants contiennent des dates qui apparaissent dans d'autres demandes.
                        Merci de vérifier que les demandes correspondent à des trajets différents
                        afin de ne pas traiter et rembourser plusieurs fois cet assuré.
                    </p>
                </div>
                <div style="display: inline-block; width: 50%">
                    <table class="duplicates">
                        {% for duplicate, dates in object.duplicates_by_transport.items() %}
                        <tr>
                            <td>
                              <a
                                 href="{{ duplicate.get_absolute_url() }}"
                                 target="_blank"
                                 >
                                {{ duplicate }} ({{ duplicate.get_status_display() }})
                              </a>
                              -
                              <a href="{{ duplicate.pmt.get_download_url() }}"
                                 target="_blank"
                                 title="ouvrir la PMT dans un autre onglet">
                                  PMT
                              </a>

                            <td>
                              <ul>
                                    {% for date in dates %}
                                    <li>
                                      {{ date.strftime('%d/%m/%Y') }}
                                    </li>
                                    {% endfor %}
                              </ul>
                            </td>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col m6 s12">
        <div class="card">
            <div class="card-content">
                <span
                    data-position="bottom"
                    data-tooltip="{{ object.tooltip }}"
                    class="card-title tooltipped activator {{ object.color }}-text"
                >{{ object.display_id }}<i class="material-icons right">more_vert</i></span>
                <div class="section">
                    <p>
                        <span class="grey-text text-darken-2">
                            Soumise
                        </span>
                        <span class="right">
                            {{ localtime(object.creation_datetime).strftime('%d/%m/%Y %H:%M') }}
                        </span>
                    </p>
                    {% if object.mandate_date -%}
                    <p>
                        <span class="grey-text text-darken-2">
                            Date de mandatement
                        </span>
                        <span class="right">
                            {{ localtime(object.mandate_date).strftime('%d/%m/%Y') }}
                        </span>
                    </p>
                    {% endif -%}
                    {% if object.delay -%}
                    <p>
                        <span class="grey-text text-darken-2">
                            Délai de paiement
                        </span>
                        <span class="right">
                            {{ object.delay }}
                        </span>
                    </p>
                    {% endif -%}
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{% if object.total_size %}{{ naturalsize(object.total_size) }}{% endif %} <i class="material-icons right">close</i></span>
                <div class="section">
                    {{ object.caisse }}
                </div>
            </div>
        </div>
    </div>
    {% with entries = list(object.logentries.order_by('-datetime')) %}
    {% if entries %}
    <div class="col m6 s12">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    Suivi du dossier
                </div>
                {% for entry in entries %}
                <div
                    {% if entry.data %}
                    data-controller="modal"
                    data-action="click->modal#childmodal"
                    {% endif %}
                    class="{% if entry.data %}clickable {% endif %}{{ loop.cycle("odd", "even") }}"
                >
                    {%- if entry.data and 'subject' in entry.data %}
                    <div class="childmodal" style="display: none">
                        <div class="modal-content">
                            <h4 class="modal-title">{{ entry.data.subject }}</h4>
                            <p>{{ entry.data.body }}</p>
                        </div>
                        <div class="modal-footer">
                            <a
                                class="modal-close waves-effect waves-green btn-flat"
                            >Merci</a>
                        </div>
                    </div>
                    {% endif -%}
                    {%- if entry.action == entry.ACTION_UPDATE %}
                    <div class="childmodal" style="display: none">
                        <div class="modal-content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Champs</th>
                                        <td>Original</td>
                                        <td>Modification</td>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key, values in entry.data.changed.items() %}
                                    {% if key in view.labels %}
                                        {% if key != 'pk' or request.user.is_superuser %}
                                        <tr>
                                            <th>{{ view.labels[key] }}</th>
                                            <td>
                                                {{ view.object.data.get(key, values[0]) }}
                                            </td>
                                            <td>
                                              {{ values[1] }}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <a
                                class="modal-close waves-effect waves-green btn-flat"
                            >Merci</a>
                        </div>
                    </div>
                    {% endif -%}

                        <div
                                class="{% if entry.action == 999 %}red-text{% endif %}{% if entry.action == 1000 %}yellow-text text-darken-3{% endif %}{% if entry.action == 2000 %}green-text{% endif %}"
                        >
                            {%- if entry.data %}
                                <i class="material-icons right tiny">search</i>
                            {% endif %}
                            {{ entry.comment }}
                        </div>

                        {{ localtime(entry.datetime).strftime('%d/%m/%Y %H:%M') }}
                        <span class="right">
                            {{ entry.user }}
                        </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}
</div>
<div class="row">
    <div class="col m6 s12">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    Personne transportée
                </div>
                {%- if object.pmt %}
                <p>
                    <span class="grey-text text-darken-2">
                        PMT
                    </span>
                    <span class="right">
                        <a
                            href="{{ object.pmt.get_download_url() }}"
                            title="{{ object.pmt.filename }}"
                            {% if object.pmt.filename.lower().endswith('pdf') %}
                            target="_blank"
                            {% else %}
                            data-controller="viewerjs"
                            data-action="click->viewerjs#click"
                            data-viewerjs="uploads"
                            {% endif %}
                            data-noprefetch="true"
                        >{{ object.pmt.filename }} ({{ naturalsize(object.pmt.binary|length) }})</a>
                    </span>
                </p>
                {%- endif %}
                <p>
                    <span class="grey-text text-darken-2">
                        Prénom
                    </span>
                    <span class="right">{{ object.insured.first_name }}</span>
                </p>
                <p>
                    <span class="grey-text text-darken-2">
                        Nom
                    </span>
                    <span class="right">{{ object.insured.last_name }}</span>
                </p>
                {%- if object.insured.birth_date %}
                <p>
                    <span class="grey-text text-darken-2">
                        Date de naissance
                    </span>
                    <span
                        {%- if object.field_changed('birth_date') %}
                        title="Ce champ a été modifié de sa valeur initiale qui était: {{ object.insured.birth_date.strftime('%d/%m/%Y') }}"
                        {% endif %}
                        class="right{%- if object.field_changed('birth_date') %} underline-dotted-red{% endif %}"
                    >{{ object.insured.birth_date.strftime('%d/%m/%Y') }}</span>
                </p>
                {%- endif %}
                <div class="card-title">
                    Assuré-e
                </div>
                <p>
                    <span class="grey-text text-darken-2">
                        NIR
                    </span>
                    <span
                        {%- if object.field_changed('nir') %}
                        title="Ce champ a été modifié de sa valeur initiale qui était: {{ object.data.nir }}"
                        {% endif %}
                        class="right{%- if object.field_changed('nir') %} underline-dotted-red{% endif %}"
                    >{{ object.insured.nir }}</span>
                </p>
                <p>
                    <span class="grey-text text-darken-2">
                        Email
                    </span>
                    <span class="right">{{ object.insured.email }}</span>
                </p>
                <p>
                    <span class="grey-text text-darken-2">
                        Assuré a basculé
                    </span>
                    <span class="right">
                        {%- if object.insured.shifted %}
                            {%- if object.insured_shift %}
                            Oui, sur cette demande
                            {%- else %}
                            Oui, sur une demande précédente
                            {%- endif %}
                        {%- else %}
                            Non
                        {%- endif %}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col m6 s12">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    Date{% if object.transport_set.all()|length %}s{% endif %} de Transport{% if object.transport_set.all()|length %}s{% endif %}
                </div>
                <table class="centered highlight">
                    <thead>
                        <tr>
                            <th>Num.</th>
                            <th>Aller</th>
                            <th>Retour</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transport in object.transport_set.all().annotate_duplicates() -%}
                        <tr class="{{ loop.cycle('odd', 'even') }}">
                            <td>{{ loop.index }}</td>
                            <td
                                {%- if transport.date_depart_is_duplicate %}
                                class="underline-dotted-red red-text"
                                title="Cette date apparait dans un autre trajet de cette demande"
                                {% endif %}
                            >
                                {% if transport.date_depart %}{{ transport.date_depart.strftime('%d/%m/%Y') }}{% endif %}
                            </td>
                            <td {% if transport.date_return_is_duplicate %}
                                class="underline-dotted-red red-text"
                                title="Cette date apparait dans un autre trajet de cette demande"
                                {% endif %}
                            >
                                {% if transport.date_return %}{{ transport.date_return.strftime('%d/%m/%Y') }}{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% if object.modevp %}
    <div class="col m6 s12">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    VP
                </div>
                <table>
                    <tr class="red-text">
                        <td>
                            Montant total (Base de remboursement)
                        </td>
                        <td>
                            {{ object.estimate }}€ TTC
                        </td>
                    </tr>
                    <tr
                        {% if object.distancevp != object.data.distancevp %}
                        title="Ce champ a été modifié de sa valeur initiale qui était: {{ object.data.distancevp }}"
                        {% endif %}
                        class="{% if object.distancevp != object.data.distancevp %}underline-dotted-red{% endif %}"
                    >
                        <td>
                            Distance km parcourus
                        </td>
                        <td>
                            {{ object.distancevp }}
                        </td>
                    </tr>
                    {% if object.distancevp %}
                    <tr>
                        <td>
                            Montant des km parcourus
                        </td>
                        <td>
                            {{ '%.2f'|format(object.distancevp * 0.3) }}€ TTC
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>
                        Montant total des frais VP
                        </td>
                        <td>
                        {{ object.expensevp }}€ TTC
                        </td>
                    </tr>
                    {% if object.payment_base -%}
                    <tr>
                        <td>
                        Base de remboursement
                        </td>
                        <td>
                        {{ object.payment_base }}€
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.payment_amount -%}
                    <tr>
                        <td>
                            Montant remboursé
                        </td>
                        <td>
                            {{ object.payment_amount }}€
                        </td>
                    </tr>
                    {% endif -%}
                    {% if object.taxi_cost -%}
                    <tr>
                        <td>
                            Coût théorique du trajet en taxi
                        </td>
                        <td>
                            {{ object.taxi_cost }}€
                        </td>
                    </tr>
                    {% endif -%}
                    {% if object.saving -%}
                    <tr>
                        <td>
                            Economie calculée
                        </td>
                        <td>
                            {{ object.saving }}€
                        </td>
                    </tr>
                    {% endif -%}
                </table>
                {{ show_bills('vp') }}
            </div>
        </div>
    </div>
    {% endif %}
    {% if object.modeatp %}
    <div class="col m6 s12">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    ATP
                </div>
                <table>
                    <tr>
                        <td>
                            Montant total des frais ATP
                        </td>
                        <td>
                            {{ object.expenseatp }}€ TTC
                        </td>
                    </tr>
                </table>
                {{ show_bills('atp') }}
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
