{% spaceless %}
<div class="input-field image">
{% if audio %}
  <a title="Lire la captcha en audio" href="{{ audio }}">{% endif %}
<img src="{{ image }}" alt="captcha" class="captcha captcha-refresh pointer" />
{% if audio %}</a>{% endif %}
</div>
{% endspaceless %}

<div class="input-field id_captcha_container required has-error" style="margin-left: 1rem; width: 100%">
  {% include widget.subwidgets.0.template_name with widget=widget.subwidgets.0 %}
  <input type="text" validate="invalid" id="{{ widget.subwidgets.1.attrs.id }}" name="{{ widget.subwidgets.1.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" />
  <label for="{{ widget.subwidgets.1.attrs.id }}">Recopier le texte l'image</label>
