body {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
}

.btn, .card {
    border-radius: 0;
}

#header {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#header img:first-child {
    margin-right: 1.5rem;
}

@media (min-width: 992px) {
    #header img:first-child {
        justify-content: flex-end;
        margin-right: 2.5rem;
        padding-right: 2.5rem;
        border-right: 2px solid #bfbfbf;
    }
}

#header img {
    max-height: 5rem;
}

@media (max-width: 576px) {
    #header img {
        max-height: 3rem;
    }
}

#main {
    background-color: #0064D9;
    padding: 4rem;
}

@media (max-width: 576px) {
    #main {
        padding: 1.5rem;
    }
}

#main-title h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 3em;
    line-height: 1.2em;
}

@media (max-width: 576px) {
    #main-title h1 {
        font-size: 2.2em;
        line-height: 1.1em;
    }
}

.main-text {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
}

@media (max-width: 576px) {
    .main-text {
        font-size: 1.3em;
        line-height: 1.2em;
    }
}

#cta {
    font-size: 2em;
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #0064D9;
    padding: 1rem 1.75rem;
}

@media (max-width: 576px) {
    #cta {
        font-size: 1.7em;
        line-height: 0.9em;
        padding: 1rem 1.5rem;
    }
}

#cta:hover {
    background: #f5faff;
    color: #0076ff;
}

.secondary-title h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 1em;
}

@media (max-width: 576px) {
    .secondary-title h2 {
        font-size: 1.8em;
    }
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.card-body {
    color: #6c757d!important;
    background-color: #dadada08;
}

.card-title {
    font-family: "Anton";
    font-size: 4em;
    margin: 0.5em auto 0em;
    color: #0064D9;
}

@media (max-width: 576px) {
    .card-title {
        font-size: 2.7em;
    }
}

.card-footer {
    color: #989898!important;
    background-color: #dadada08;
    text-transform: uppercase;
    border-top: 0;
}

#testimonies {
    font-size: 1.3em;
    font-weight: 500;
    font-style: italic;
}

@media (max-width: 576px) {
    #testimonies {
        font-size: 1em;
    }
}

#footer {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

#footer a:first-child {
    margin-right: 1.5rem;
}

@media (min-width: 992px) {
    #footer a:first-child {
        justify-content: flex-end;
        margin-right: 2.5rem;
        padding-right: 2.5rem;
        border-right: 2px solid #bfbfbf;
    }
}

#footer a img {
    max-height: 2rem;
}
