<p>
Bonjour,
</p>

<p>
Merci de traiter {% if object_list|length == 1 %}la demande suivante{% else %}les {{ object_list|length }} demandes suivantes{% endif %} :
</p>

<ul>
{% for object in object_list %}
  <li>
      <a href="{{ BASE_URL }}{{ object.get_absolute_url }}">{{ object }}</a>
  </li>
{% endfor %}
</ul>

<p>
Si vous n'avez l'accès à <a href="{{ BASE_URL }}{{ ADMIN_ROOT }}">MRS</a>, merci de
faire la demande à contact@mrs.beta.gouv.fr en justifiant votre besoin dans le
cadre du projet MRS.
</p>

<p>
En vous souhaitant une agréable journée de la part de toute l'équipe MRS
</p>
