<p>
Bonjour,
</p>

<p>
Veuillez trouver ci-joint l'extraction mensuelle des demandes n'ayant pas fait l'objet d'une remontée stat.
</p>

<p>
Pour rappel, lors d’une demande d’un assuré via MRS, il y a parfois des erreurs de saisie du NIR, de la date de naissance ou de la date du trajet. Les techniciens font la plupart du temps la correction sous Progrès au regard de la BDO mais oublient parfois de modifier les données sous MRS. A cause du décalage entre la saisie MRS et la saisie Progrès, certaines données ne remontent pas.
</p>

<p>
Afin de qualifier ces données et d'avoir vos métriques à jour, nous vous invitons à corriger les données directement sur les demandes MRS lorsqu'il s'agit d'erreur de NIR ou de dates de naissance, et de compléter le fichier pour les autres types d'erreur.
</p>

<p>
Ce fichier doit ensuite être importé dans MRS par un utilisateur disposant du profil "Stat" selon les modalités indiquées dans le point 3 de la procédure que vous trouverez en cliquant sur le lien suivant : <a href="http://espacemrs.cpam-toulouse.cnamts.fr/_layouts/15/start.aspx#/Front Office script de rponse MRS/12 - Export et Import des données - Profil STAT.aspx">http://espacemrs.cpam-toulouse.cnamts.fr/_layouts/15/start.aspx#/Front Office script de rponse MRS/12 - Export et Import des données - Profil STAT.aspx</a>
</p>

<p>
Bien cordialement,
</p>

<p>
L'Equipe MRS
</p>

