<html>
  <head>
    <title>Exemple d'integration iframe</title>
  </head>
  <body>
    <h2>Code source</h2>
    <ul>
        <li>
            <a href="https://github.com/betagouv/mrs/tree/master/src/institution">Projet</a>
        </li>
        <li>
            <a href="https://github.com/betagouv/mrs/blob/master/src/institution/templates/institution/mrsrequest_iframe_example.html">Ce template</a>
        </li>
        <li>
            <a href="https://github.com/betagouv/mrs/blob/master/src/mrs/templates/base_iframe.html">Contribuer au template de l'iframe</a>
        </li>
    </ul>
    <h2>Exemple de recuperation de statut d'une demande</h2>
    <p>Il suffit d'appeler votre URL d'institution avec votre finess puis mrsrequest/uuid-de-la-demande/status/:</p>
    <pre>
        curl https://mrs.beta.gouv.fr/institution/310000000/mrsrequest/470f3dbe-1f0a-4dfc-8bf1-95f8d504deb3/status/
    </pre>
    <p>Retournera une telle reponse ou une erreur HTTP standard:</p>
    <pre>
        {"status": 0}
    </pre>
    <p>Liste des codes de status:
    <ul>
        {% for value, label in view.mrsrequest_statuses %}
        <li>{{ value }}: {{ label }}</li>
        {% endfor %}
    </ul>
    <h2>Exemple d'upload de fichier</h3>
    <pre>
    document.getElementById('mrsrequest').contentWindow.postMessage(
      // votre pmt
      '{"pmt_url": "{{ view.base_url }}/static/img/mrsHeaderFiltreBleu-logo_ito86r.jpg"}',
      // origine du message (votre url)
      '{{ view.base_url }}/institution/310000000/mrsrequest/iframe/example/'
    )
    </pre>
    <input type="button" name"pmt-upload" value="Executer" id="pmt-upload" />
    <h2>Exemple d'utilisation de l'iframe</h2>
    <iframe
      id="mrsrequest"
      src="{% url 'institution:mrsrequest_iframe' view.kwargs.finess %}?first_name=Étienne&last_name=∞&birth_date=2000-12-31&nir=1234567890123&email=exemple@exemple.com&hidePMT=1"
      width="100%"
      height="800"
      style="border: none"
    ></iframe>
    <script type="text/javascript">
      document.getElementById('pmt-upload').addEventListener('click', function() {
        document.getElementById('mrsrequest').contentWindow.postMessage(
          '{"pmt_url": "{{ view.base_url }}/static/img/mrsHeaderFiltreBleu-logo_ito86r.jpg"}',
          '{{ view.base_url }}/institution/310000000/mrsrequest/iframe/example/'
        )
      })
    </script>
  </body>
</html>
