{% extends 'base.html' %}

{% block content %}
{% if view.filterset.form.fields %}
  <form method="get" action="" data-controller="autosubmit" data-target="render-chart" data-action="input->autosubmit#input change->autosubmit#input">
    {{ render_form(view.filterset.form) }}
  </form>
{% endif %}

<div id="render-chart">
  <script
    type="text/json"
    data-stats="#chart"
    data-controller="mrsstat"
  >{{ view.get_chart_json()|safe }}</script>

  <div class="row">
    <div class="col s4">
      <p>
      Délai moyen: {% if view.validation_average_delay %}{{ "%.2f"|format(view.validation_average_delay) }} jours{% else %}?{% endif %}
      </p>
    </div>
    <div class="col s4">
      <p>
        Nombre de demandes soumises: {{ view.get_mrsrequest_count('new') or 0 }}
      </p>
      <p>
        Nombre de demandes en cours: {{ view.get_mrsrequest_count('inprogress') or 0 }}
      </p>
      <p>
        Nombre de demandes validées: {{ view.get_mrsrequest_count('validated') or 0 }}
      </p>
      <p>
        Nombre de demandes rejetées: {{ view.get_mrsrequest_count('rejected') or 0 }}
      </p>
    </div>
    <div class="col s4">
      <p>
        Econnomies réalisées: {{ view.savings or 0 }}&euro;
      </p>
      <p>
        Bascules: {{ view.insured_shifts or 0 }}
      </p>
    </div>
  </div>

  <div id="chart">
  </div>
</div>
{% endblock %}
