{% extends 'base.html' %}
{% import 'crudlfap.html' as crudlfap %}

{% block content %}
  <h5>Exporter les demandes en CSV</h5>
  <p>
    Cliquez sur le bouton suivant pour télécharger votre export de Demandes qui n'ont pas de dates de mandatements :
    <div class="collection">
    {% for caisse in request.user.caisses.all() %}
        {{ crudlfap.a(crudlfap_site['mrsrequest.mrsrequest']['exportcaisse'].clone(object=caisse), 'collection-item', 'secondary-content') }}
    {% endfor %}
    {{ crudlfap.a(crudlfap_site['mrsrequest.mrsrequest']['export'], 'collection-item', 'secondary-content') }}
    </div>
  </p>

  <h5>Importer les demandes en CSV</h5>
  <p>
    Cliquez sur le bouton suivant pour uploader votre fichier de Demandes en CSV pour import :
    {{ crudlfap.a(crudlfap_site['mrsrequest.mrsrequest']['import'], 'btn waves-effect waves-light', 'left') }}
  </p>
  <p>
{% endblock %}
